[2016-04-10 13:10] xpbliss opened #1 "how to add a file to a zip file?"
how to add a file to an existed zip file?

[2016-04-10 13:41] mholt commented on #1
You cannot, sorry, it only makes and opens files.

[2016-04-10 13:41] #1 closed

[2016-07-06 19:51] producerism opened #5 "Error when trying to unrar archive with subfolders"
Here is an example of the file:

test.zip (and test.rar)
_______/testfolder/
________________file1.jpg
________________file2.jpg

When using archive.Unzip, it behaves as expected -- creates the subfolders as they are in the zip archive:
`err := archiver.Unzip("c:\\tmp\\test.zip", "c:\\tmp\\test\\")`

However when running the same command to unrar, it appears as though it's not able to Mkdir the su

[2016-07-06 22:20] mholt commented on #5
Thanks for the report! So are file1.jpg and file2.jpg inside testfolder?

[2016-07-06 22:27] producerism commented on #5
correct, those files are within the subfolder (inside the archive).

[2016-07-06 23:13] mholt commented on #5
Thanks. Can you send me the .rar file? I don't have a way to make them (and I'd rather not install one on my Mac... heh) :smile: My email address is at https://matt.chat.

[2016-07-07 15:58] producerism commented on #5
No problem, sent you the file I've been testing against.

[2016-07-07 16:00] mholt commented on #5
Got it, thanks. Will check it out soon!

[2016-07-08 14:07] producerism commented on #5
Quick and dirty string comparison workaround here:
https://github.com/mholt/archiver/pull/7

I'm sure there are better ways of approaching this, but this seemed simple enough to be a viable solution.

[2016-07-11 13:41] mholt commented on #5
Fixed in #7. Thank you!

[2016-07-11 13:41] #5 closed

[2016-07-11 13:44] mholt commented on #5
I've published a new release with this and another fix: https://github.com/mholt/archiver/releases/tag/v1.1.1

[2016-10-11 03:35] jonpchin opened #13 "Travis build failing archiver not backwards compatible"
Travis Build log(shortened to show relevant information):
go version go1.7.1 linux/amd64
...
gostuff/util.go:26: cannot call non-function archiver.Zip (type archiver.zipFormat)
gostuff/util.go:36: undefined: archiver.Unzip

Line 26 in util.go:
err := archiver.Zip(destination, source)
Line 36 in util.go:
err := archiver.Unzip(source, destination)

The travis build was successful last night, just pu

[2016-10-11 03:59] jonpchin commented on #13
I just took a quick glance at all the changes made in the past 24 hours,

I see:
Zip func was changed to Make and Unzip was changed to Open.

[2016-10-11 16:31] mholt commented on #13
Are you sure you've pulled the latest? Our CI builds are passing...

[2016-10-12 01:09] jonpchin commented on #13
On my machine I use for testing and on my production machine I am still using the archiver library I checked out a month ago and everything builds fine on there. The Travis builds always checks out the latest third party libraries every time it builds but I could be wrong.

[2016-10-12 01:29] jonpchin commented on #13
I just now deleted the old archiver third party package and checked out go get github.com/mholt/archiver/cmd/archiver

I get the same error. That means the package is not backwards compatible.

[2016-10-12 15:00] cocodrino opened #14 "include tar.xz (de)compression"
Hi..I think than it could be possible using https://godoc.org/xi2.org/x/xz

[code]

can u check this?..thanks!

[2016-10-13 01:26] mholt commented on #14
Cool! I can look into it. Is there a pure Go package that does compression too? It'd be really great to have both if possible.

[2016-10-13 01:27] mholt commented on #13
archiver.Zip and archiver.Unzip no longer exist on master; call archiver.Zip.Make and archiver.Zip.Open instead. That should fix it!

[2016-10-13 01:27] #13 closed

[2016-10-13 01:42] cocodrino commented on #14
seems than the documentation is a bit old but if you go to the github project home you'll see than this provide even a command for achieve this ;-D...

[2016-11-30 11:09] jackytck opened #16 "support excluding directories"
I'd like to make a PR to exclude certain directories when archiving.

So we just need to pass down a slice of excluded paths to filepath.Walk, then return filepath.SkipDir if the path matches any of the excluded path?

What do you think?

[2016-11-30 22:35] mholt commented on #16
Sure this is easy, but the purpose of archiver is to mimic your OS's file explorer's "right-click and click Compress" functionality, and I really like the simplicity of its API as-is. Can this be done without changing the function signatures or simple usage?

[2016-11-30 23:39] mholt commented on #14
Done in cdc68dd1f170b8dfc1a0d2231b5bb0967ed67006

[2016-11-30 23:39] #14 closed

[2016-12-01 03:38] jackytck commented on #16
I also like the simplicity. And I don't want to pollute that. Seems that there's no way of passing additional options without changing `Make(destination string, sources []string) error`. Making a new function e.g. sth like MakeAdvance(), is not very elegant to me. So I just fallback to use tar, anyway. Thanks.

[2016-12-01 04:24] mholt commented on #16
Okay. Sorry about that. I'd rather keep the scope of this project narrow. I invite others to create other applications that build on it if they wish!

[2016-12-01 04:24] #16 closed

[2017-01-26 08:59] zolnov opened #20 "PR: Reader and Writer support"
Hi,
Please consider to provide exported functions having `Reader` / `Writer` as argument instead of file names too (where possible). It would make the library more flexible by enabling streaming, buffering, in-memory use-cases. Thanks.

[2017-01-31 13:21] Skywalker13 opened #21 "The symbolic links are not preserved when unpacking a zip (other formats not tested)"
See subject

[2017-02-11 13:19] schollz opened #22 "Support for avoiding overwrite upon opening archive"
Hi @mholt, this is a great tool/library!

I've found it useful to avoid overwriting files if they already exist when opening an archive to a folder. I'm wondering if you'd like to incorporate this as an option to your library? Here's my change: https://github.com/schollz/archiver/commit/8b912cafcb94be510e20d5c27ac803e3dd978de3. Of course, it would need to be amended so it can be toggled as optiona

[2017-02-11 19:13] mholt commented on #22
Are you sure? I thought we already don't overwrite existing files...

[2017-02-11 22:06] schollz commented on #22
Well, here is the behavior I'm getting. I have two files, and I archive only one of them. After archiving and then opening the archive in the same folder, the modified timestamp of the extracted file that came from the archive changes (from `15:52` to `15:53`). My thinking was that this should only happen if the archiver is overwriting, since the modification date is changed.

[code]

The problem

[2017-02-25 11:22] JackMordaunt opened #27 "Error when attempting to extract from git generated gzipped tarball"
Hi there.

I have a gzipped tarball generated from git (specifically using the github API).
When I attempt to Open it using `archiver.TarGz.Open` I get this error: `"pax_global_header: unkown type flag: g"`

I searched for "pax_global_header" and I learned it seems to be an extended header that holds the git commit ID. I'm running OSX 10.12.

How should I go about investigating further? Is this kn

[2017-03-07 13:53] rafaeljusto opened #28 "Non-UNIX compatibility"
I was looking at the `tarFile` function and saw a harcoded "/" in it:
https://github.com/mholt/archiver/blob/master/tar.go#L146

Shouldn't we use [os.PathSeparator](https://golang.org/pkg/os/#pkg-constants) instead of "/"? If necessary I can send a PR.

Ignore/Close this issue if there's no problem on using this character as path separator in Windows environments. I'm also a UNIX user. :smile:

[2017-03-07 15:54] mholt commented on #28
No, I think tar files require "/" as path separators. A forward slash is always used, even on Windows.

[2017-03-07 15:54] #28 closed

[2017-03-30 04:58] mholt commented on #27
Hey Jack, I'm not sure about it. The error probably comes from this line: https://github.com/mholt/archiver/blob/c55f48c22890807c9698370fe5e08eca3704834b/tar.go#L213 - in that we don't handle that type flag.

How is that type of header handled? Can we just ignore it for our purposes?

[2017-03-30 05:02] mholt commented on #22
Hmm, maybe we are now. I don't think that is intended. Want to submit a PR? :) Basically, return an error if a file already exists when extracting. Should just be a few lines. (Test welcome too if you're able!) I'm just super busy with stuff right now.

[2017-03-30 14:55] schollz commented on #22
Sure! I'd be happy to!

[2017-04-20 05:23] denji opened #29 "tar.zstd & tar.zstd + dict-training"
- http://facebook.github.io/zstd/
- https://github.com/facebook/zstd
- https://github.com/Datadog/zstd

[2017-05-02 10:21] zerok opened #30 "File descriptor limit"
First of all big thanks for this great little helper. It makes writing replacements for shell scripts a real joy :)

One thing I ran into, though, is that the current implementation of for instance the Zip extractor seems to leak some file descriptors. Especially for larger archives this can lead to too many file descriptors being open at the same time. In such a situation I received something lik

[2017-05-03 03:24] zhujintao opened #31 "symlinks target file err fo tar"
tar.go 131
header, err := tar.FileInfoHeader(info, path)
----

link, e:= os.Readlink(path)
if e ==nil { path=link }
header, err := tar.FileInfoHeader(info, path)

[2017-05-03 08:53] zerok commented on #30
Sorry about that. I can no longer reproduce this issue :(

[2017-05-03 08:53] #30 closed

[2017-05-03 15:03] SeerUK commented on #20
It would also potentially make testing easier too.

[2017-05-18 21:57] terrelln commented on #29
FYI the extension for zstd is `.zst`.

[2017-05-19 07:52] chrislearn opened #33 "messy code with chinese file name"
When there is file with chinese name, the unzipped filename is messy code.

![image](https://cloud.githubusercontent.com/assets/5874864/26238289/057f512c-3cab-11e7-9407-63a000b49114.png)

I use windows 10 pro. go 1.8.1 64bit version

[2017-05-25 11:19] oaleynik commented on #21
@Skywalker13 did you find solution for this?

[2017-05-25 11:46] Skywalker13 commented on #21
Yes but I use archive/zip instead:
[code]

[2017-05-25 12:02] mholt commented on #21
Hmmm, want to make a pull request? :D

[2017-05-25 14:13] oaleynik commented on #21
@Skywalker13 really appreciate actual example - saves me a lot of time! If you will have an hour of free time or so, as @mholt said - PR would be awesome! Thanks again!

[2017-07-25 09:29] halfcrazy commented on #33
If you are using a Chinese window system, the file name is in GBK encoding. If you want zip to support this case, you may set zip header's flag bit 11. `header.Flags = 1 << 11`
Or convert your filename to utf-8.

ref: https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT

D.2 If general purpose bit 11 is unset, the file name and comment should conform
to the original ZIP character encoding.

[2017-07-31 22:37] denji commented on #29
+ extension for pzstd is `.pzst.`

[2017-07-31 22:40] terrelln commented on #29
The extension of pzstd is still `.zst`, it uses the same format as zstd.

[2017-08-24 13:08] RayBB opened #39 "Is there support for password protected archives?"

[2017-08-24 13:16] mholt commented on #39
There isn't, no. Pull requests welcome ;)

[2017-08-24 15:24] RayBB commented on #39
I'd be willing to give it a shot but I wouldn't even know where to begin.

[2017-08-25 04:20] mholt commented on #39
Haha, I wouldn't either -- I don't know much about the format. The Go standard lib [doesn't support it so we'd have to use an archive/zip replacement](https://github.com/golang/go/issues/12081) or do it ourselves somehow. Sorry, I'm not much help here. :smile:

[2017-09-27 14:20] jservice-rvbd opened #44 "Add a function to the library to deduce the correct archive format given a file name."
While it's not particularly hard to loop over all SupportedFormats calling Match with a given filename, it's something that users of the library will probably end up needing often so I think it would be nice to have it here.

[2017-10-11 22:00] Galamoon opened #47 "Error unpacking large archive writing file: rardecode: ..."
I have problems with unpacking a large rar archive, the archive itself takes about 6GB and unpacked 25GB. The archive contains XML files with a database of Russian addresses.
You can download it from the official site http://fias.nalog.ru or from the direct link http://fias.nalog.ru/Public/Downloads/Actual/fias_xml.rar
The full error text
`ERROR: 2017/10/12 00:37:10 unpack.go:12: Error unpack arch

[2017-10-12 05:10] mholt commented on #47
Huh, I have no clue. It might be worth taking this up with the author of the rar package directly: https://github.com/nwaples/rardecode

I will close this since I'm not sure that this is a bug in archiver, per-se -- I might be wrong though, and we can open this back up if that's the case.

[2017-10-12 05:10] #47 closed

[2017-10-12 05:23] #44 closed

[2017-10-12 05:25] mholt commented on #20
Thanks to @jservice-rvbd this was implemented in #43

[2017-10-12 05:25] #20 closed

[2017-10-12 08:08] Galamoon commented on #47
Something tells me that waiting for an answer there will take a long time. You know some alternatives to archivers for Go not based on nwaples / rardecode

[2017-10-12 11:55] mholt commented on #47
I do not know of other rar decoding packages in (pure) Go, sorry.

[2017-10-15 00:59] svnpenn commented on #27
@mholt this is a problem, because this program cannot handle archives that are
hosted at this repository. You say on the initial commit in 2016:

http://github.com/mholt/archiver/blame/e08da12/README.md#L4

but if you download this file:

http://github.com/mholt/archiver/archive/v2.0.tar.gz

but this file cannot be opened by archiver:

[code]

where 7-Zip can handle it just fine:

[code]

[2017-10-15 04:17] JackMordaunt commented on #27
@mholt Yes I believe the header can be ignored, at least for the vast majority of users downloading archives from GitHub.

I'm not sure how the header is handled.

[2017-10-29 19:37] necrose99 opened #49 "ISO/Squashfile"
as a docker drop in

ISO_URL=

filter to trash iso ,  get squashfs and unpack @ /  would be a nice to have so far i have a slower python script nearly done , but ... as a lib to do that could make re-baking live iso's faster in docker..
go compiled right tends to be mounds faster.

ability to iso dump and squashfile also nice to have.

[2017-11-08 03:52] 351699382 opened #51 "bug!!!!!!!"
打包成gzip压缩包时，目录过长情况会出错。在windows打包，放在linux解压时会有问题
(Packaged into gzip compressed package, the directory is too long will be wrong. Packaged in windows, there will be problems on the linux decompression)

[2017-11-08 04:12] shurcooL commented on #51
Unrelated to the bug, I would recommend seeing https://github.com/primer/primer-css/blob/master/.github/CONTRIBUTING.md#bug-reports, it contains useful tips for how to make effective high-quality bug reports.

[2017-11-08 06:30] 351699382 commented on #51
okay, thank you

[2017-12-19 10:48] tetafro opened #52 "Add tags more often"
Hi. Can you please add tags more often? It's for dependency management. The last one was over a year ago and if I want to use latest features I have to use commit hashes in my Gopkg.toml.

[2017-12-26 08:08] XiaoMouR opened #53 "Is it possible to support 7z archive?"
I find that this package has a reference to [lzma](https://github.com/ulikunitz/xz/tree/master/lzma).

[2018-02-11 01:04] jekriske-lilly opened #56 "Hard Links cause a failure"
Opening an archive containing hard linked files results in `unknown type flag: 1`

[2018-02-11 13:34] nehaljwani opened #57 "Binary invoked with -h exits with non-zero exit status"
./archiver_linux_amd64 -h returns a non-zero exit status. It should be zero.

[2018-02-20 17:25] iXo opened #58 "Add possiblity to only extract some files of an archive"
Hi,

I need to only extract 1 file (no more that 10KB, that I made it be first in the archive) of a very big .tar archive (more than 1GB).

Could you add a way to provide a list of file that we want to extract without extracting every files.

Thanks.

[2018-02-22 22:26] jekriske-lilly commented on #56
Closing as this is corrected in code but latest release is horribly outdated.

[2018-02-22 22:26] #56 closed

[2018-02-28 07:55] 0xdevalias opened #59 "Add static compiled option to releases"
It would be cool if there was a staticly compiled option on the releases page.

[2018-02-28 12:52] mholt commented on #59
Hmm, as opposed to what? I'm not sure I follow.

[2018-02-28 19:41] 0xdevalias commented on #59
Currently there are dynamically linked binaries for a number of platforms.

Go allows static compilation, so that the binary can run entirely standalone, without relying on any system libraries. There are only a couple of flags required, but can’t remember them off the top of my head (I use them in my docker-gobuster repo if you wanted to find them quickly.

Get Outlook for iOS<https://aka.ms/o0uk

[2018-03-22 20:53] kevlut opened #61 "Zip output path set to non-existing directory casues failure"
This may be able to be a non-issue, but I was expecting that when I passed a directory location that did not yet exist, the directory would get created and the zip would still get output to that path.

    err := archiver.Zip.Make(outputPath, files)

Instead, it returns an error:

I created the output directory structure and the previous code worked fine.

When zipping using a desktop application,

[2018-03-28 23:02] addelovein opened #62 "Compressing tarball on Windows"
When compressing a entire folder with
archiver.TarGz.Make("myfolder.tar.gz", []string{"./myfolder"})

If i open that arhive in Windows it will look great i can go through the directory structure... However when i extract this on linux it wil create filenames like this:
"picons\picons\france\1_0_1_EB2_AAFF_7EB6_0_0_0_0.png"
and empty folders named this:
"picons\picons\france"

That is not paths tha

[2018-04-17 07:11] halfcrazy commented on #62
https://github.com/mholt/archiver/blob/master/tar.go#L149

Maybe need another pr like https://github.com/mholt/archiver/pull/37 to handle this for tar format.

[2018-04-17 07:13] halfcrazy commented on #51
Could you provide a Minimal, Complete, and Verifiable example?

[2018-04-17 07:45] halfcrazy commented on #62
@addelovein I have a quick implementation at #64 , could you test on windows?

[2018-04-30 00:44] InTheCloudDan commented on #27
is there any workaround for this issue? I'm looking to use archiver library with a tarball from github and running into this exact problem.

[2018-04-30 11:58] bgc8080 opened #67 "Wrong directory structure"
1. compress two directories(/usr/local/bin","/usr/local/etc") to example.tar.gz
$ tar -ztf example.tar.gz
bin/
bin/aria2c
bin/awk
...
bin/zipdetails
etc/
etc/GeoIP.conf
...
etc/nginx/
etc/nginx/fastcgi.conf

2. extract example.tar.gz to /tmp/

Current directory structure.
.
├── bin
└── etc

Expected directory structure.
.
└── usr
    └── local
        ├── bin
        └── etc

[2018-05-01 15:06] addelovein commented on #62
@halfcrazy Sorry for delay but thanks for the attempt... However still result when extracting on NIX is:
drwxrwxrwx    2 root     root            40 May  1 17:00 picons\picons\united_states
-rw-rw-rw-    1 root     root          5724 May  1 16:59 picons\picons\united_states\1_0_1_2331_AAFF_7EB6_0_0_0_0.png
-rw-rw-rw-    1 root     root          3601 May  1 16:59 picons\picons\united_states\1_0_1_2

[2018-05-06 19:50] davidnewhall opened #68 "Support for Multi-part Archives"
I'm attempting to extract rar files that are multi-part (.rar .r01 r.02 etc). Using the `unrar` tools available out there, I just pass them a single file name (the .rar file) and they extract all the subsequent archives. I'm using `archiver` as a library and calling `archiver.Rar.Open(file, path)` then receive this error: `writing file: rardecode: archive continues in next volume`

Am I missing so

[2018-06-07 22:32] jwilk opened #69 "Directory traversal through symlink"
Archiver is not careful enough when unpacking tar archives that contain symlinks. It will happily write over a symlink it previously created. This could cause directory traversal.

Proof of concept:
[code]

Tested with git master (e4ef56d48eb029648b0e895bb0b6a393ef0829c3).

[2018-06-07 23:08] mholt commented on #69
Thanks for the report - do you want to submit a patch?

[2018-06-08 09:43] jwilk commented on #69
No, I don't speak Go. Sorry!

[2018-06-19 14:35] el-gee opened #71 "Can't Unzip Folder Entries From Windows Built Zip Archives"
This issue seems related to: https://github.com/mholt/archiver/issues/61-- however I decided to create a new issue in case my hunch was incorrect.

**Relevant Info**
 * OS - win 10 1803
 * Zipping tools tested:  Powershell 5.1 `Compress-Archive` and the integrated `system.io.compression.filesystem` Zipfile class (that powershell also uses under the hood).
 * Archiver versions tested - release 2.0

[2018-06-21 22:40] jyggen commented on #68
Seems like support was added in #38 but later removed in #43. Basically `OpenReader` needs to be used in order to extract multi-part archives.

[2018-06-22 10:11] A-Hilaly opened #73 "Proposal: regex matching and parallel Open for multiple files support"
Hello !
Actually i'm became a frequent user of archiver since its totally generalist and efficient. The case of openning huge archives or several archives at once is bit painfull which leaded me to think about these improvements.

**Regex matching:**
Archiving or reading archive files using simple regex match

[code]

**Multiple targets** (for regex expressions and simple file names)
for files:

[

[2018-07-04 15:22] Naatan opened #74 "Allow relative symlinks"
At the moment my relative symlinks are converted to absolute symlinks when using TarGz, this breaks the code I'm archiving.

[2018-07-26 07:36] pingkui opened #75 "output file dir same to compress dir"
I want to compress all the file the current directory, output to the current directory; the result is that untar the tar file, it contains a tar file that has a same tar-filename.

[2018-08-16 05:33] #27 closed

[2018-08-25 14:20] andrexus opened #78 "go modules support"
could you please add a tag v2.0.0 so that it is semantic version compatible?

[2018-08-25 16:32] johnarok commented on #78
Wanna test? added the tag now.

[2018-08-25 17:00] johnarok commented on #51
closing as no activity, please open a new issue when you are ready to file the bug with the details.

[2018-08-25 17:00] #51 closed

[2018-08-25 17:56] johnarok commented on #59
The binaries are statically compiled, hence closing the issue

ldd archiver_linux_amd64
	not a dynamic executable

[2018-08-25 17:56] #59 closed

[2018-08-25 18:32] johnarok commented on #75
Hey! could you provide an example/steps to reproduce with what you expect to happen vs current situation.. refer this one for an example https://github.com/mholt/archiver/issues/22#issuecomment-279179235

[2018-08-25 19:37] weingart commented on #75
Unfortunately, I'm not particularly enthusiastic about supporting this use case.  Reliably identifying the file you're archiving as being the same file you're writing to currently is usually hard to get right across all platforms.

A more reliable method is to ensure that the tar file you're creating is outside the directory tree you are archiving, and then moving the tar file into the final locat

[2018-08-25 20:14] andrexus commented on #78
Works like a charm!

[2018-08-25 20:14] #78 closed

[2018-08-26 03:07] #57 closed

[2018-08-31 15:49] justone opened #80 "Feature request: (de)compression only (single-file archives)"
I've been using archiver for a while for a [tool](https://github.com/holen-app/holen) that downloads releases from github (and other places) and automatically unpacks them to make their commands available for running.  Archiver has worked out very well so far.

Today, I wanted to add [restic](https://restic.net/) to my tool, and it's [downloads](https://github.com/restic/restic/releases/tag/v0.9.2

[2018-09-02 13:10] bboehmke opened #82 "Extract Zip archives on windows that contains /"
I am trying to extract a zip file on Windows that seems to be created on Linux.
I think it does not work because inside the archive **/** are used and in [sanitizeExtractPath](https://github.com/mholt/archiver/blob/master/archiver.go#L110) **filepath.Join** convert it to **\\** which cause a mismatch in the check with **strings.HasPrefix**.

I have created a simple piece of code that can reproduce

[2018-09-06 08:40] hacdias opened #86 "Cannot find package 'github.com/pierrec/lz4'"
Hey @mholt

There seem to be some issues with one dependency of this package: github.com/pierrec/lz4.

[code]

[code]

The directory `v2` of their package seems to be missing.

[2018-09-06 08:40] hacdias commented on #86
Well, actually the problem is theirs! https://github.com/pierrec/lz4/issues/33

[2018-09-06 08:40] #86 closed

[2018-09-07 00:26] johnarok commented on #75
Closing as there is no activity and there exists an alternate solution from @weingart

[2018-09-07 00:26] #75 closed

[2018-09-09 21:56] bojan-karlas opened #88 "Latest release version tag not updated"
Go packaging tools that work with versions (e.g. dep) are picking up the release version `v2.0.0` from 2016. The latest code needs to be packaged in a release version that is above `2.0.0` so that it can work with the tools. Is this possible to do ASAP?

[2018-09-10 00:04] #82 closed

[2018-09-10 01:06] johnarok commented on #88
@mholt @weingart should we cut one as 2.1.0 release? there are some PRs waiting to be merged around zip slip and symlink, thoughts?

[2018-09-10 04:31] mholt commented on #88
Sure, that's probably a good idea. :+1:

[2018-09-10 23:40] johnarok commented on #88
Thanks @weingart for cutting the release.. I have tagged a v2.1.0 to keep compatibility for Go Modules support

[2018-09-10 23:40] #88 closed

[2018-09-10 23:42] johnarok commented on #52
Thank you @tetafro, we recently cut a new release and will add it more often.

[2018-09-10 23:42] #52 closed

[2018-09-12 00:58] johnarok commented on #62
@addelovein can you re-test? With pr #77 merged, this should be fixed now.

[2018-09-15 14:50] johnarok commented on #67
Hi @bgc8080 , I think is working as expected, see below for a sample behavior.

[code]

[code]

[2018-09-20 00:14] vishalb2308 commented on #22
Is this change live? when I try to unarchive a file, it still overrides an existing one

[2018-09-20 20:19] mholt opened #90 "Proposal: Rewrite the entire package. Design doc discussion"
## UPDATE: Done in pull request #99

Having been using this package for a few years now, I've encountered a number of issues that lead me to want to redesign this package entirely: burn it down and start over, copying only the fundamental parts of the code, and not worrying about backwards compatibility.

Some specific issues I've experienced:

- **Too much magic.** Recently I spent a day debuggin

[2018-09-20 21:16] johnarok commented on #22
Not yet! Would you be willing to test your scenario using PR branch? https://github.com/mholt/archiver/pull/89

[2018-10-01 04:46] jandubois commented on #74
That's what I thought at first too, but it turns out that symlink support hadn't been implemented at all. The absolute path is the original source path, not the target path.

[2018-10-10 21:34] alexDrinkwater opened #93 "Error when trying to zip directory"
Windows 10 issue

zip.Make comment states that it handles filePaths being a directory. However, on use it os.stat (line 57 of zip.go) fails for paths.

[2018-10-14 01:30] johnarok commented on #67
Closing since no activity

[2018-10-14 01:30] #67 closed

[2018-10-14 01:31] johnarok commented on #62
Closing since no activity.

[2018-10-14 01:31] #62 closed

[2018-10-14 01:41] johnarok commented on #90
Thinking we should do the following to focus our efforts in the re-design and channel the communities help towards this?

1. Update README on this enhancement and create a new project to track related issues that might be better handled in this re-design.
3. Make the current version maintenance (bug fixes) only and update the README.
4. Close all PR related older than 6 months..mostly they are aro

[2018-10-14 06:30] mholt commented on #90
@johnarok Yes, that all sounds good -- let's draw attention to it and triage old issues that will be handled by the redesign. As soon as I get a chance to get https://relicabackup.com off the ground, I want to turn my attention (at least on weekends) to this, since we use this package extensively when doing releases.

[2018-10-16 15:06] gcstang opened #94 "Valid concern to not use xz?"
While researching xz as a storage medium I came across this article.

https://www.nongnu.org/lzip/xz_inadequate.html

Is what they've outlined on this page a valid concern and we shouldn't be using xz?

[2018-10-18 20:12] alexDrinkwater opened #95 "Zip does not support windows directories"
On line 82 a forward slash is used on the end of the header. Windows does not recognize forward slashes in paths. I suggest using filepaths.Join() or a similar function to allow windows support.

[2018-10-18 20:33] alexDrinkwater commented on #95
Further example. If baseDir is "16510", fpath is "C:\Users\test\AppData\Local\Temp\outputs\16510\meltpool\L0_Meltpool.csv" and source is "C:\Users\test\AppData\Local\Temp\outputs\16510" header.name becomes "16510/\meltpool\L0_Meltpool.csv". If filepath.Join was used it would be correctly "16510\meltpool\L0_Meltpool.csv"

[2018-10-25 09:21] TarekAS opened #96 "Potential Incompatibility with CodeDeploy"
Having used this library to zip files for use in AWS CodeDeploy, I noticed a strange bug:
All .png files extracted by CodeDeploy have size 0 bytes. I suspect this is the same for all compressed formats. I am using the latest version of both tools.

I fixed it by removing all extensions from the compressedFormats map in zip.go.

There could be some sort of incompatibility between this archiver and

[2018-10-25 18:21] mholt commented on #96
Thanks for the report. I wonder if CodeDeploy is ignoring in the file headers whether the file is actually compressed or not.

[2018-11-02 22:48] alexisoyama opened #97 "Slow extract for tar.xz"
https://github.com/ulikunitz/xz is very slow at extracting.

https://github.com/xi2/xz is 10x faster for me. Consider using this for extraction. It doesn't support compression, so it won't be a full replace.

[2018-11-05 07:40] mholt commented on #90
I spent some hours on a detailed API design today that addresses all my concerns, with lots of room for growth as well. Everything here is a very rough draft, subject to change and input, and I'm probably overlooking many implementation/technical difficulties that could cause this design draft to change...

I started by pouring over the open and closed issues and PRs and assembled a wishlist of fu

[2018-11-06 04:29] mholt commented on #20
See #99 for a revamp of this feature.

[2018-11-06 04:30] mholt commented on #16
Should be possible now after #99 is in. Each archiver will have a configuration struct that could potentially be used to exclude files.

[2018-11-06 04:31] mholt commented on #22
This feature is under way in #99

[2018-11-06 04:33] mholt commented on #58
This is implemented with #99.

[2018-11-06 04:33] mholt commented on #61
This is implemented in #99.

[2018-11-06 04:37] mholt commented on #73
Thanks for the feature request.

What do these commands actually _do_ though? If it's just a matter of working with multiple archive files, you can just run the command multiple times: once for each file.

[2018-11-06 04:39] mholt commented on #93
Not sure what the error is, so closing...

[2018-11-06 04:39] #93 closed

[2018-11-06 04:40] #96 closed

[2018-11-06 04:40] mholt commented on #97
Will consider this when finishing #99.

[2018-11-06 15:53] mholt commented on #97
Implemented in 0d66ce6b77f970dd4c6afe4cf2f91fda2f8ec2a6. Thanks!

[2018-11-06 15:53] #97 closed

[2018-11-06 21:06] mholt commented on #39
The rar decoder supports this; will ship in #99.

[2018-11-07 19:17] #80 closed

[2018-11-07 19:37] #22 closed

[2018-11-07 20:14] #39 closed

[2018-11-07 20:14] #58 closed

[2018-11-07 20:14] #61 closed

[2018-11-07 20:14] #90 closed

[2018-11-07 20:14] #68 closed

[2018-11-07 20:59] Elexy opened #102 "New interface"
With your last change, the interface changed and I am trying to move from `archiver.Tar.Make(...` to the new interface, but not having any luck. A bit of a Go novice, so please bare with me.
[code]
gives me:
[code]

[2018-11-07 21:10] mholt commented on #102
The new equivalent of the old `archiver.Tar.Make()` is something like this:

[code]

You can find the configuration fields for the `Tar` type here: https://godoc.org/github.com/mholt/archiver#Tar

[2018-11-07 21:12] #33 closed

[2018-11-07 21:13] mholt commented on #49
Hmm, I don't think ISO/Squashfile is on my roadmap, but we could re-open this to discuss a contribution if someone was serious about implementing this functionality.

[2018-11-07 21:13] #49 closed

[2018-11-07 21:13] mholt commented on #53
If there's a pure-Go way to do it, sure thing -- contributions welcome!

[2018-11-07 21:13] #69 closed

[2018-11-07 21:14] mholt commented on #71
It's possible that this was fixed in #99. Or maybe not. 😇 Feel free to re-open if it's still a confirmed issue.

[2018-11-07 21:14] #71 closed

[2018-11-07 21:15] #73 closed

[2018-11-07 21:34] Elexy commented on #102
Thanks @mholt for the quick response.
Thanks for great lib/tool, obviously ;-)

[2018-11-07 21:34] #102 closed

[2018-11-08 11:17] 030 opened #104 "Trying to untar a file on Mac causes pointer issues"
[code]

[2018-11-08 13:55] carlca opened #105 "Problems installing on macOS"
- go version go1.11.2 darwin/amd64
- macOS 10.14.1 Mojave

Hello, I have just tried to run `go get -u github.com/mholt/archiver/cmd/archiver` and it comes back with...
[code]

I have Modules set to `GO111MODULE=auto`.

Any idea what the problem is?

[2018-11-08 14:44] liorlevtov opened #106 "targz Create method stucks in infinite call."
in targz.go

[code]
is a recursive call, which won't work.
it should be
[code]

[2018-11-08 17:14] dokipen opened #107 "Is it possible to archive a directory to stream in one line?"
It seems possible to use Create() and Archive(), but archive requires a file path to be specified and does some checks, creates a directory, that isn't necessary when streaming.

[2018-11-08 17:29] mholt commented on #106
Oops. Thanks for catching that! Our test cases need to be more thorough.

[2018-11-08 17:29] #106 closed

[2018-11-08 17:30] mholt commented on #105
These are using the old install instructions, but #103 fixed that (sorry!) -- use `go get -u github.com/mholt/archiver/cmd/arc` instead.

[2018-11-08 17:30] #105 closed

[2018-11-08 17:32] mholt commented on #104
It looks like you are using an old version of the library. Can you update to the latest and try again? Note that the equivalent requires creating a Zip or TarGz configuration first, but you can use `archiver.Default*` for convenience.

[2018-11-08 17:49] mholt commented on #107
I'm not 100% sure what you mean by your question, but let me try to help: Archive() isn't for streaming, it's a convenience function that takes a list of filenames and makes a single archive file on disk. Under the hood it calls Create() and does the streaming work, but it's a high-level function.

If streaming, just use Create(), Write(), and Close(). Does that help?

[2018-11-08 17:53] carlca commented on #105
Thanks Matt! That sorted it!

[2018-11-09 15:53] gedw99 opened #108 "Symbolic links"
Does it respect symbolic links ?
I had some issues before and today noticed that the Google GitHub org has a new golang package specifically for interacting with the file system on all platforms to respect symbolic links.

https://github.com/google/renameio

[2018-11-09 16:38] mholt commented on #108
Sort of, but I think this is a duplicate of:

#21
#31
#74

Would love to have you jump in any of those issues and contribute patches! Thanks!

[2018-11-09 16:38] #108 closed

[2018-11-10 18:26] rw209 opened #109 "Troubles with use as Lib by readme manual"
Hello am full newbie, but trying use your lib, by example on readme.md, and that code:
[code]
have this error: ./main.go:7:27: undefined: flate
if i delete string "CompressionLevel:       flate.DefaultCompression," or write "CompressionLevel:       0,"
Compile work, archive file create, but in zip file "main.go" with out name, but have correct content.
Same malfunction on example with inspecting e

[2018-11-11 23:19] #109 closed

[2018-11-12 03:06] wyxloading opened #110 "NOTICE of concurrent use"
https://github.com/mholt/archiver/blob/9866b6e2453eee43791b9e1b87d9e4c494985468/tar.go#L592
https://github.com/mholt/archiver/blob/9866b6e2453eee43791b9e1b87d9e4c494985468/tarbz2.go#L111
https://github.com/mholt/archiver/blob/9866b6e2453eee43791b9e1b87d9e4c494985468/tarxz.go#L104

I notice the `Archiver/Unarchiver` is not concurrent safe.
But what's more, even using `DefaultTar/DefaultTarBz2/Defau

[2018-11-12 03:48] mholt commented on #110
Well, you are right: the types are technically not safe for concurrent use. We could add a little note in the godoc about this I suppose, although generally I would not recommend assuming any documented value is safe for concurrent use unless the docs say it is, even in Go. Most standard library types that are thread-safe explicitly say so.

Feel free to submit a pull request with the change!

[2018-11-13 10:31] askz opened #111 "unsupported format '.tgz'"
Hi,
I get this when trying to extract a .tgz (which is a tar.gz)
[code]

[2018-11-13 16:37] mholt commented on #111
Fixed in 526228db02717285609233ec22606d727e53fd9c

[2018-11-13 16:37] #111 closed

[2018-11-13 16:59] askz commented on #111
nice! that was fast thanks !

[2018-11-14 05:16] ashishbedicn opened #112 "Using `Archiver.zip.Make` gives error: `archiver.Zip.Make undefined (type archiver.Zip has no method Make)`"

[2018-11-14 05:17] ashishbedicn opened #113 "Using `Archiver.zip.Make` gives error."
Using `Archiver.zip.Make` gives error: `archiver.Zip.Make undefined (type archiver.Zip has no method Make)`

Is Zip.Make method deprecated? If yes, please suggest an alternative.

[2018-11-14 05:17] #112 closed

[2018-11-14 17:23] mholt commented on #113
Yes, it is. :) Please see the README and the godoc for the new API.

[2018-11-14 17:23] #113 closed

[2018-11-18 16:05] onodera-punpun opened #115 "add arc `getFormat` function to package"
This seems like something used often, and right now, to get the right interface, requires people to implement ~50 loc boilerplate.

[2018-11-18 21:11] mholt commented on #115
Oh, actually, this is something that I was going to do this week anyway. :) If I have time. (major US holiday)

[2018-11-18 22:43] #115 closed

[2018-11-19 19:16] sithembiso opened #116 "Wrong directory structure because directories are added recursively"
I've implemented a way to support exclusions (which is outside the scope of this library), but it only works if I have complete control over the sources I provide. Here is an example below:
[code]

I'm expecting the structure to look like this:
[code]

Instead, I am getting:
[code]

**Note:** I've already tried add the directory to the sources like this `[]string{"tmp/client-dir/README", "tmp/clie

[2018-11-19 19:48] onodera-punpun opened #117 "Make "format not recognized" error a const"
https://github.com/mholt/archiver/commit/e1ccfb528128bf4ff3bd906823ae2dcb708f79f5#diff-635e4219ee55ef011b2b32bba065606bR405

That way we can do `if err != nil && err != archiver.ErrNotRecognized`.

[2018-11-19 21:01] onodera-punpun opened #118 "Add ByHeader support to all formats"
Or at least, make it use this by default. The reason being that `ByExtension()` supports many more formats.

[2018-11-19 22:39] mholt commented on #118
Can you explain more what you mean?

[2018-11-19 22:40] mholt commented on #110
Added to godoc in daf9e77af2c7fca8b2883e0ef10f61eafba14a02

[2018-11-19 22:40] #110 closed

[2018-11-19 22:40] mholt commented on #117
Good idea -- except it'd be a `var` not a const. Care to submit a PR?

[2018-11-19 22:43] mholt commented on #116
So... what is it you want exactly? You want directories to not be added recursively?

[2018-11-20 04:16] rw209 commented on #109
Thank You, @mholt :)

Omg, that tread not useless, im very satisfied

I gues create new tread on Pull&Request section

ok, try it

[2018-11-20 04:57] sithembiso commented on #116
I think that is one of two things. What I would like to ascertain first is:
If my sources look like this `sources := []string{"foo/bar/index.html"}` should I not end up with this in my archive?
[code]
If that's true then we need to make sure that the directories in the path (`foo` and `bar`) get reproduced on in the archive somehow.

[2018-11-20 09:33] onodera-punpun commented on #118
It seems like `ByHeader` Only supports three formats: https://github.com/mholt/archiver/blob/master/archiver.go#L411-L416

`ByExtension` supports many more: https://github.com/mholt/archiver/blob/master/archiver.go#L411-L416

So I'd be nice if `Unarchive` had a "method" parameter or something, that way the user can specify the use of `ByExtension` or `ByHeader` (used here: https://github.com/mholt

[2018-11-20 14:59] mholt commented on #116
No, this is working as documented:

[code]

If you want to preserve folder structure, specify the top-level folder you want to include.

[2018-11-20 14:59] #116 closed

[2018-11-20 15:01] mholt commented on #118
Reading the header is technically superior since the extension can be misleading (as we've seen before) -- ideally, we'd check the headers for the compressed tar formats too, but I haven't implemented it.

Pull request welcome!

[2018-11-20 20:58] rw209 opened #122 "Support wildcard characters or some more regular expressions"
That is request typical archivators, feature, like wildcard. `(*.*, *.ext, name.*)`

When i need use archiver for packing some format (only pdf, or something else), i should use bulkiness  `ioutil.ReadDir` + `filepath.Ext` or` filepath.Walk` +`filepath.Ext` metods
Maybe somebody else wants that feature in projekt?

[2018-11-28 00:41] josephlewis42 opened #123 "Don't `CheckExt` on `Archive`"
What do you think about removing the `CheckExt` requirement for the `Archive` function on zip files?

There are several alternative extensions that indicate a perfectly valid compressed file (e.g. JAR, docx, odt, gem), and this check adds an additional step to making them.

[2018-11-28 03:07] mholt commented on #123
You raise a good point, but this check is necessary, and it's in place to ensure that bugs like the one in #90 where a tar archive was created with a zip extension.

Are you using this package to make docx files? 🤔

[2018-11-28 16:21] josephlewis42 commented on #123
As an alternative, what do you think about adding a parameter `IgnoreArchiveExtMismatch` (`false` by default to preserve existing functionality) to the archive struct to allow a developer to override it? Or, maybe adding a field that would let the developer override the extension?

[code]

I was hoping to use this library to produce and consume a new package format for a project I'm working on. Th

[2018-11-28 16:53] mholt commented on #123
As a much simpler, one-line-of-code workaround, why not simply rename the file after creating it?

[2018-11-30 07:47] zkcrescent opened #124 "archive multi directories got unexpect result"
I have two directories, test and test.copy (copy form test directory), run cmd `arc --mkdirs=true archive test.tar.gz ./test/ ./test.copy/`, then i got this
`test.copy/
go.mod
go.sum
haha
shell.sh
test
test.go
test/
go.mod
go.sum
haha
shell.sh
test
test.go`
 how I can fix this? thanks for your help.

[2018-11-30 18:20] ducktype opened #125 "Support for .deb .rpm .cpio?"
I think will be cool to support .deb and .rpm and probably others linux packages formats
.deb are custom wrapped tar.gz/tar.bz2/tar.xz/tar.lz4/tar.sz archives
.rpm are custom wrapped cpio archives
the only program that handle these archive types that i'm aware of is 7zip that have a linux port p7zip, but in the latest versions of 7zip some problems arise and i needed to use an older version, havin

[2018-11-30 23:00] mholt commented on #124
I don't think I understand. Can you format your question better?

[2018-11-30 23:04] mholt commented on #125
Sure, pull requests welcome to add additional archive formats.

[2018-12-02 23:40] mholt commented on #125
@ducktype Hey actually, I just updated the issue templates. Would you mind re-creating one issue per format using the template specifically for requesting new archive formats? Thanks!

[2018-12-04 01:56] #123 closed

[2018-12-04 12:30] rw209 commented on #124
Maybe he try to say that problem:
When i compress list files with subdirs. Archive on output have all files in root of archive.
Example:
i want compress *.go files in catalog "/home/user/go/src/BackupperVersions/"
this dir, have subdirs BackupperVersions/BackuperAlpha1, BackupperVersions/Backupper RC 1.0
when i compress with follow code:
[code]

My test33.zip file have all *.go files in root of di

[2018-12-04 17:04] mholt commented on #124
Well, files listed in the `filelist` will be added to the root of the archive, and the documentation states this, so that's expected. Directories are recursively added, keeping their structure within the archive.

If ImplicitTopLevelFolder isn't working, go ahead and open a new issue with a detailed bug report: https://github.com/mholt/archiver/issues/new?template=bug_report.md - I updated the iss

[2018-12-04 17:04] #124 closed

[2018-12-04 18:19] rw209 commented on #124
Recursive adition for catalog it's ok, but how add files with their structures?

i Found it, in archiver - GoDoc, and sources, but i can't understand how add files with catalog structure

[2018-12-04 18:35] #117 closed

[2018-12-04 18:44] #21 closed

[2018-12-04 18:44] #31 closed

[2018-12-04 18:44] #74 closed

[2018-12-04 18:58] rw209 opened #126 "ImplicitTopLevelFolder mallfunction"
## What version of the package or command are you using?
3.1 (see it from readme.md)

## What are you trying to do?
Try to create archive with top level folder by `ImplicitTopLevelFolder: true,` settings

## What steps did you take?

[code]
here is my code, and zip files with talking names
[TopLevelFalse.zip](https://github.com/mholt/archiver/files/2645581/TopLevelFalse.zip) [TopLevelTrue.zip](htt

[2018-12-04 20:31] mholt commented on #126
Please fill out the rest of the issue template -- especially what you expected to happen, vs. what happened instead. Thanks.

[2018-12-04 20:31] #126 closed

[2018-12-05 14:34] maxonches opened #127 "recursion"
Is it possible to make recursion for the case when there is another archive in the archive? If yes, what should be the condition for this?

[2018-12-05 17:30] mholt commented on #127
I'm not sure I understand what you mean. Can you fill out the issue template fully, for a feature request? For your proposal, please be very clear and specific so that someone who is implementing what you are requesting can do so exactly. Thanks!

Then we can re-open this.

[2018-12-05 17:30] #127 closed

[2018-12-12 19:36] eakarpov opened #128 "Emitting progress"
## What would you like to have changed?
Emit percentage on archiving/unarchiving files to be able to count progress

## Why is this feature a useful, necessary, and/or important addition to this project?
It allows to show the user a status of his files being archived/unarchived.

[2018-12-12 20:27] yangyadi1993 opened #129 "Support Unarchive for .gz file"
## What would you like to have changed?

I am using `Unarchive` function as a general function to unarchive files. All the other main types are supported very well. But I also want to use this function to unarchive `.gz` file, which is not supported. This is a very good library and very easy to use! I know you are working on this and I saw a lot of very recent commits. So I want to ask do you have

[2018-12-12 20:30] yangyadi1993 opened #130 "Return the archived/unarchived file path"
## What would you like to have changed?

Currently, only the error message will be returned when we unarchived files. I don't know what the archived file path is. If the archived path could be returned, it will be more user friendly.

Just asking if you have the plans :)

[2018-12-12 20:38] mholt commented on #129
`.gz` is not an archive format, though... it is a compression format. What do you expect to have happen?

[2018-12-12 20:39] mholt commented on #130
I don't fully understand what you mean. It's not specific enough. If you could fill out the full issue template, complete with code examples in this case that would be helpful, thanks.

[2018-12-12 20:39] #130 closed

[2018-12-12 22:18] yangyadi1993 commented on #129
My mistake, then I am good! Thanks!

[2018-12-12 22:22] mholt commented on #129
You can use `DecompressFile` to open gz files, if that's what you're looking for.

[2018-12-12 22:22] #129 closed

[2018-12-18 11:07] simonjohansson opened #131 "Why did Compress and Uncompress disappear?"
Howdy and thanks for a awesome library!

We have a use case where we tar up a path and upload it to google cloud storage, which takes a []byte as the object you wish to upload. Later on we might download the tar which again gives us a []byte and untar it to some path.

In `v2.0.1` we have the super helpful

[code]

We noticed that we had issues with the symlink and that later versions of archiver

[2018-12-18 17:46] mholt commented on #131
Hmm, I can't find those functions in the commit history -- do you have a link to them to refresh my memory?

In any case, I think it must have been removed because the use case for buffering entire archive files in memory as byte slices was limited. It's much more recommended to stream instead. (How would you upload large objects to the cloud? That API sounds terrible...) There are examples how to

[2018-12-20 04:58] mholt commented on #131
Hm, okay -- I'll tag this as a feature request; contributions welcomed.

[2018-12-20 04:59] mholt commented on #118
(This issue is good for beginners if you at least have experience working with file formats -- probably not awesome "first issue" if you're new to programming in general. So, like, good for Go beginners.)

[2018-12-27 02:59] hoster110 commented on #131
My idea is to use full IO to accelerate the compression efficiency;
1. Can multi-threading be supported?
2. Can you write zip file in an additional way to adapt to the memory shortage caused by large files?

[2018-12-27 03:03] hoster110 commented on #131
func Zip(srcFile string, destZip string, thNums string) error {
	SytemToInfo()
	err := filepath.Walk(srcFile,Listfunc)
	if err != nil {
		Err(err)
		return err
	}
	nums, err := strconv.ParseInt(thNums,10,32)
	if err != nil {
		Err(err)
		return err
	}

	batchsize := 2

	for index := 0; index < len(ListFile); index = index+batchsize{

		wg.Add(1)
		go func (i int){
			buf := new(bytes.Buffer)
			ar

[2018-12-27 03:06] jacokoo commented on #128
And could there be a way to abort archive/unarchive programmatically?

[2019-01-01 00:49] heycait opened #133 "Keep permissions on unzipped folders"
## What would you like to have changed?
Retain the permissions when unzipping folders instead of hardcoding to `0755`

## Why is this feature a useful, necessary, and/or important addition to this project?
This feature is useful to maintain file integrity. It's unexpected that unzipping files changes it's permissions.

## What alternatives are there, or what are you doing in the meantime to work a

[2019-01-06 02:20] rw209 opened #136 "Files dont puts in root dir on zip archives"
## What version of the package or command are you using?
latest on 06 jan 19

## What are you trying to do?
create typycal zip arch, as example code

## What steps did you take?
[code]

## What did you expect to happen, and what actually happened instead?
Should be: rootDir/other files
Have: rootDir, other files
(other files not putted in rootDir)
http://i.imgur.com/Ieneeb9.png that Pic

## How do

[2019-01-09 00:00] mholt commented on #133
Thanks for reporting the issue _and_ submitting a fix!

[2019-01-09 00:00] #133 closed

[2019-01-22 18:22] bkeroackdsc opened #140 "Consider supporting afero"
## What would you like to have changed?
Consider adding support for https://github.com/spf13/afero which allows swapping in alternate filesystem implementations (for example, in-memory).

## Why is this feature a useful, necessary, and/or important addition to this project?

By using an abstract filesystem interface instead of the hard-coded stdlib functions, you allow users to optionally use in-m

[2019-01-22 18:48] mholt commented on #140
This library supports streaming from any io.Reader or to any io.Writer -- no file system required: https://godoc.org/github.com/mholt/archiver#example-Zip--StreamingRead

[2019-01-23 18:48] bkeroackdsc commented on #140
Ah, I missed that. Thank you!

[2019-01-23 18:48] #140 closed

[2019-01-30 06:55] hy05190134 opened #141 "about doc's function list"
## What would you like to have changed?

## Why is this feature a useful, necessary, and/or important addition to this project?

## What alternatives are there, or what are you doing in the meantime to work around the lack of this feature?

## Please link to any relevant issues, pull requests, or other discussions.

[2019-01-30 06:58] hy05190134 commented on #141
when I use "err := archiver.CompressFile("test.tar", "test.tar.gz")"  the err will report "format specified by destination filename is not a recognized compression algorithm: test.tar.gz", but it is the function exampled by docs

[2019-02-07 01:02] jchionh opened #143 "Unlink the symbolic link if it already exists"
The function `writeNewFile()` overwrites the file if it already exists. Following the same behavior, should `writenewSymbolicLink()` also overwrite the symbolic link if it already exists?

If this is agreeable, I propose to do so by checking if the symlink exists, and unlink using `os.Remove()` if true, before doing `os.SymLink()`

[2019-02-07 01:04] jchionh commented on #143
Referencing this function:
https://github.com/mholt/archiver/blob/master/archiver.go#L313

[2019-02-07 01:47] mholt commented on #143
Hm, yes, that seems like a good idea; they are used in parallel just depending on the file mode.

[2019-02-07 20:40] jchionh commented on #143
https://github.com/mholt/archiver/pull/145

[2019-02-08 19:30] jchionh commented on #143
PR #145 was merged, closing this issue.

[2019-02-08 19:30] #143 closed

[2019-02-27 13:33] MarkusFreitag opened #146 "Extract single file without recreating its path"
I try to extract a single file from an archive. This works fine so far, but it seems that unfortunately there is no way to just put it into a directory. It's original path, from inside the archive, is always recreated. Do I miss anything that would help to achieve this?

P.S. Thank you for creating/maintaining this useful project =)

[2019-02-27 14:13] mholt commented on #146
Using archiver's CLI or as a library?

[2019-02-27 14:14] MarkusFreitag commented on #146
I'm using it as a library.

[2019-02-28 01:54] hy05190134 commented on #146
@MarkusFreitag  you can check whether is the question like this : https://github.com/mholt/archiver/pull/142

[2019-02-28 03:14] mholt commented on #146
(Good point -- thanks for commenting. Please continue looking into this, as I will be swamped finishing my thesis for a couple weeks.)

[2019-02-28 08:47] hy05190134 commented on #146
@mholt  you can think of my pull request and give some advice

[2019-02-28 09:03] MarkusFreitag commented on #146
If I understood the mentioned PR correctly, my case is different to that. My archive contains a file under `bin/example.file`. When I call `extr.Extract("archive.tar.gz", "bin/example.file", "/tmp")`, it gets written to `/tmp/bin/example.file`.
But I want to place it directly to `/tmp/example.file` without the need of moving it after the extraction. So what I try to achieve is, to extract the sing

[2019-03-01 02:23] zxdvd opened #147 "how about add an option to specify non-utf8 encoding of zip filename"
## What would you like to have changed?
I'd like to add an option like `-encoding` or `-O` just like unzip to specify the filename encoding of zip file.

## Why is this feature a useful, necessary, and/or important addition to this project?
I work with mac and linux server but lots of colleagues work with windows. I have much terrible experience with zip files from them. The filenames always got m

[2019-03-01 08:57] hy05190134 commented on #146
@MarkusFreitag  it is new feature for you, and it has risks for "aa/tt.file" and "bb/tt.file", it will overlap in  your ways

[2019-03-01 08:59] hy05190134 commented on #147
@zxdvd  author is very busy

[2019-03-01 09:08] MarkusFreitag commented on #146
I understand that the current behaviour is totally fine and what the user would expect. Initially I was just asking whether there is already a way to achieve this case using the library.
If not maybe we can add another extract method which just extracts **one** file to a specific destination path.

[2019-03-01 10:23] veqryn opened #148 "Repo causing problems on windows with symlink"
Git is constantly telling me that there are changes to the file/symlink: `vendor/github.com/mholt/archiver/testdata/exist`

The issue appears to be because when windows or bash or git see the symlink, they add a `C:` to the front of the file name.

prometheus/procfs had a similar issue, that they solved: https://github.com/prometheus/procfs/issues/60
Alternatively, just create the symlinks when th

[2019-03-01 15:11] mholt commented on #147
Yep, will get around to things eventually

[2019-03-01 18:01] zxdvd commented on #147
I just submitted a PR for this. Could you help to review it?

[2019-03-04 19:58] farshidtz opened #150 "Method to extract zip archive from memory"
Hi,

In the version 2 of the package, one can simply extract zip archives from memory using the [Zip.Read](https://github.com/mholt/archiver/blob/v2.1.0/zip.go#L153) method:
[code]

It would be nice to add a similar method to version 3. I managed to achieve this with 50 lines of code (Zip.Open and then Zip.Read + file writes in a loop) but couldn't maintain the file hierarchy. This is doable using

[2019-03-05 16:46] Phillip-Gabler opened #151 "Fails to install on Windows 10"
## What version of the package or command are you using?
3.1.1

BUT... I noticed that the code installed on Linux and Windows is different. The linux install worked, while the windows install did not. I will look into what is different on the two platforms, then will update the Issue appropriately.

## What are you trying to do?
go get github.com/mholt/archiver on Windows 10

Response:

C:\Users\p

[2019-03-06 15:22] Phillip-Gabler commented on #151
You can close this issue. I deleted the sources and reinstalled them, and the problem no longer exists.

[2019-03-06 15:22] #151 closed

[2019-03-07 15:51] petemoore opened #152 "Broken on win32"
## What version of the package or command are you using?
`bfece90dc3bb7199e8a397a27eb267a6cdd9589c`

## What are you trying to do?
Extract [Git-2.11.0.3-32-bit.tar.bz2](https://github.com/git-for-windows/git/releases/download/v2.11.0.windows.3/Git-2.11.0.3-32-bit.tar.bz2) on Windows 7 32 bit edition

## What steps did you take?
See [task definition](https://tools.taskcluster.net/groups/Wz1hd0EJRMC

[2019-03-07 18:10] mholt commented on #152
Thanks for the detailed report! Reproducible on Mac too.

[2019-03-08 09:22] matthjes opened #154 "Support for Zip / Rar "aliases""
## What would you like to have changed?

Allow "aliases" for zip and rar files, i.e. make the allowed extensions configurable.

## Why is this feature a useful, necessary, and/or important addition to this project?

I'd like to use archiver to extract images from comic files. These files often have the extensions cbz (= zip) or cbr (= rar). They are perfectly fine zip or rar files with a different

[2019-03-08 16:58] Naatan opened #155 "Extracting hardlinked files from Tar files is broken"
disclaimer - this was researched and filed by @gus, but since I'll be following up on it I'm reporting it.

## What version of the package or command are you using?
v3.1.1

## What are you trying to do?

Trying to Extract and/or Unarchive files which are hardlinked to other files in a tarball.

## What steps did you take?

1. `tar.Unarchive(archivePath, destDir string)`
2. `tar.Extract(archivePath

[2019-03-08 17:03] mholt commented on #154
I guess that's possible, but rather than add more complexity to this project, why not just rename the files?

[2019-03-08 17:04] mholt commented on #155
Thanks for the detailed report and the added information, but duplicate of #152.

[2019-03-08 17:04] #155 closed

[2019-03-08 17:28] matthjes commented on #154
I would have to rename a lot of files, several thousands. Besides, cbr and cbz are the quasi-standard extensions for comic files.
Another example: Javas jar files are just zip files with another extension.

I've forked the code and added a "Extensions []string" field. Then I just initialized the ExtensionCheckers array with the respective extensions, e.g.:
[code]
and added a check inside the Check

[2019-03-09 01:07] mholt commented on #154
That's not a bad solution actually. I suppose that each type will need an unexported, default list of extensions if the Extensions field is not set.

Before you submit a pull request though, I just had one question:

Do you mean that the file type is predefined beforehand, or that the file header is read from the stream directly? Because if the latter, archiver can do that too, I just don't think

[2019-03-09 09:04] matthjes commented on #154
As far as I understood it, the stream is checked while reading if it's contents can be decompressed, so I guess the header / leading bytes are checked.
You work with it like this:
[code]
You walk through the stream similar to an iterator, calling `ZipInputStream.getNextEntry()` until it returns null. It returns also null right at the start if the stream cannot be decompressed / is not a zipped str

[2019-03-09 17:14] mholt commented on #154
Someone would just have to finish implementing the Matcher interface here: https://github.com/mholt/archiver/blob/master/zip.go#L524

Once that is implemented for all the types, it can be used instead of extensions.

[2019-03-11 11:25] matthjes commented on #154
Hm, how would you implement this for, e.g., tar.gz files? Here you first need to use the .gz matcher, extract the file and then use the .tar matcher. Would you call the matchers multiple times (e.g. in case of .tar.gz, the .gz matcher matches, the files get extracted; if its a single file, then check all matchers again -> the .tar matcher matches).

[2019-03-11 18:04] mholt commented on #154
One other thought on this is that if you're using archiver as a library (or in any other way automating its use) all you have to do is rename the file, run archiver, then name it back to its original name afterward. It's like 2-4 extra lines of code.

I'm not sure, which is why I haven't done it. :) How does your Java lib do it?

[2019-03-12 10:54] soullivaneuh opened #156 "Completion support"
## What would you like to have changed?

Having completion support like `arc completion [zsh|bash|fish]`

## Why is this feature a useful, necessary, and/or important addition to this project?

Useful to install completion with ease and make command usage easier.

## What alternatives are there, or what are you doing in the meantime to work around the lack of this feature?

N/A

[2019-03-23 20:51] Senpos opened #157 "Misleading error message if you create an archive with incorrect name on Windows"
## What version of the package or command are you using?
Since I installed less than an hour ago, I guess, this is it: [2bd00e47f6e10b3199ae839ca3ccaea9c9f3aa32](https://github.com/mholt/archiver/commit/2bd00e47f6e10b3199ae839ca3ccaea9c9f3aa32)

## What are you trying to do?
I was trying to create an archive which contains forbidden (in Windows) character in its name: `\/:*?"<>|`

## What steps di

[2019-04-05 08:03] AlexAkulov opened #158 "How to add a hardlink to archive?"
Hello!
I use this way to add regular file to archive:
https://github.com/AlexAkulov/clickhouse-backup/blob/d1677be5f661ba9c925aadaac72b6e79bdcecbd8/s3.go#L157-L163
But I don't understand how to add a hardlink to archive. Do you have any example about it?

[2019-04-05 13:35] AlexAkulov opened #159 "Multithreading support"
I noticed that archiver uses only one cpu core. It may be problem on processing large data. Do you have ideas about how to add multi thread support?

[2019-04-05 19:21] mholt commented on #159
For doing what, exactly?

[2019-04-11 18:15] FerdieBerfle commented on #154
None of these changes would be necessary if all files types were handled 'ByHeader' instead of 'ByExtension'.

In other words, read enough to see that it is a zip archive, then use zip to extract the contents.  The name/extension shouldn't matter at all.

[2019-04-11 18:21] mholt commented on #154
Yes, I think that is a better approach. Thanks!

[2019-04-11 18:21] #154 closed

[2019-04-16 22:29] tomcruise81 commented on #128
Here's an example for unarchiving using https://github.com/cheggaaa/pb

[code]

[2019-04-22 08:52] alixaxel opened #160 "Wrong constructor for Lz4?"
## What version of the package or command are you using?
bfece90dc3bb7199e8a397a27eb267a6cdd9589c

## What did you expect to happen, and what actually happened instead?
On:

https://github.com/mholt/archiver/blob/bfece90dc3bb7199e8a397a27eb267a6cdd9589c/archiver.go#L460-L463

## How do you think this should be fixed?

I believe the above is an oversight and should instead be:

[code]

[2019-04-22 14:36] alixaxel opened #161 "Brotli Support"
## Introduce the format you are requesting.

**Brotli**:

- High compression ratio.
- Slow compression speed.
- Fast decompression speed.

Developed by Google and used in a plethora of tools (browsers, nginx, Node.js, ...).

## What do YOU use this format for?
Asset pre-compression (for the web) is usually the main use case but can also be used to achieve maximum compression of large binaries ([`a

[2019-04-22 15:43] mholt commented on #160
Ah yup, thanks for catching that. Want to submit a quick PR?

[2019-04-22 18:37] alixaxel commented on #160
@mholt :+1: Couldn't find a `CONTRIBUTING`, but should be enough, right?

[2019-04-22 18:44] #160 closed

[2019-04-22 18:44] mholt commented on #160
@alixaxel Yeah, thanks.

[2019-04-25 15:59] FerdieBerfle commented on #159
Some codecs may lend themselves to parallel processing of different chunks of data in the same file.  If those chunks could be handled simultaneously by different cores, overall processing time _could_ be lessened.  Perhaps just handling different files in the same archive, or other variations.

As an example, creating an archive from 8 files, where 4 or more of them are compressed at the same tim

[2019-04-25 19:21] mholt commented on #159
Sure, pull requests welcomed!

[2019-04-26 11:46] philippgille opened #163 "Improve command help text"
## What would you like to have changed?

I would like to get a more descriptive help text when using `archiver` as command (as `arc` in a terminal).

The current (just updated with `get get -u`) help text starts like this:

[code]

From this info you still don't know how to archive a file or folder. From the text you might think that you can use `arc archive file-to-archive`, because that's `arc`

[2019-04-28 09:47] alixaxel opened #164 "Walk over nested Archives"
## What would you like to have changed?
I'd like to have the ability to Walk over `io.ReadCloser`s and not just file paths.

## Why is this feature a useful, necessary, and/or important addition to this project?
Although I understand this is somewhat of a niche need, it's conceivable that a ZIP file could contain more ZIP files nested within it. By providing a such a method, it would be possible t

[2019-04-29 10:45] praveenkumar opened #165 "[ERROR] Reading file in tar archive: foobar/foobar.qcow2: unknown type flag: S"
## What version of the package or command are you using?
[code]

## What are you trying to do?
Trying to extract a `xz` tarball which created using `tar cJSf`.

[code]

## What steps did you take?

## What did you expect to happen, and what actually happened instead?
I would expect it should've extracted all the files from tarball but got an folder which doesn't contain the `vmdk` file.

[code]

#

[2019-05-01 18:01] onodera-punpun opened #167 "Create shorthands for parameters such as u for unarchive."
## What would you like to have changed?
Create shorthands for parameters such as u for unarchive.

## Why is this feature a useful, necessary, and/or important addition to this project?
unarchive is very tedious to write.

## What alternatives are there, or what are you doing in the meantime to work around the lack of this feature?
Probably create a wrapper.

[2019-05-01 19:01] mholt commented on #167
Hmm, writing out a word isn't very much of a concern to me, and it's clear what is happening this way, rather than a single letter `u`.

[2019-05-01 19:01] #167 closed

[2019-05-06 03:06] christopinka opened #168 "Consecutively zipping same files have same hashes unlike native zip behavior."
## What version of the package or command are you using?
3.1.1

## What are you trying to do?
Compare sha1 hashes from zipped files after consecutive zipping

## What steps did you take?
execute - $arc arc -overwrite -folder-safe archive dest.zip source_foler

## What did you expect to happen, and what actually happened instead?
zipped file hashes have different hashes after consecutive zipping. I

[2019-05-06 03:13] mholt commented on #168
I'd say that a reproducible hash is a feature, not a bug. 🤷‍♂

And the question is impossible to answer without a zip archive to compare against. We'd need the source files, and the archives created by both methods, for inspection. (I'm not saying I have time to look at them in depth right now, since I see this as a non-issue, but in order for anyone else to answer it, there'd have to be a lot mor

[2019-05-06 03:13] #168 closed

[2019-05-18 05:14] gadelkareem commented on #150
I was looking for a similar function to read from bytes and returns a reader just like the zip lib `zip.NewReader(bytes.NewReader(ib), int64(len(ib)))`
It would be great if we can totally avoid disk writes ex:
`archiver.NewReader(bytes.NewReader(ib), int64(len(ib))), "filename.ext")`

[2019-06-11 19:07] klauspost commented on #159
https://github.com/klauspost/pgzip should be a dropin replacement for `gzip` :)

[2019-06-11 19:16] klauspost opened #170 "Zstandard support."
## Introduce the format you are requesting.

Zstandard / `zst` + `tar.zst` support

## What do YOU use this format for?

Logs, backups, anything.

## What is the format's conventional file extension(s)?

`zst`

## Please link to the format's formal or official specification(s).

https://github.com/facebook/zstd/blob/dev/doc/zstd_compression_format.md

## Which Go libraries could be used to impleme

[2019-06-11 19:32] mholt commented on #170
On it!

What is the standard file extension for tar+zst? `.tar.zst`?

[2019-06-11 19:34] klauspost commented on #170
tar.zst I believe.

[2019-06-11 19:44] mholt commented on #161
Still waiting for a pure Go compressor implementation.

[2019-06-11 19:47] #170 closed

[2019-06-11 19:55] mholt commented on #170
@klauspost Thanks; it's halfway done.

I'm also wanting to make this package a Go module; can I ask a favor? :smile: It would be helpful -- necessary -- for https://github.com/klauspost/compress/issues/121 to be resolved... let me know if you need any help with that.

[2019-06-11 20:01] klauspost commented on #170
Yeah, I think I'll just include it in the repo. I'll put it next on my list!

[2019-06-11 20:10] mholt commented on #170
Cool, thanks!

I've pushed 3971425a20f07db6ce935819231bbda3482d18d0 which should add full zstd support to the command, as well as tar.zst. I'm going to work on updating our CI tests now until modules are ready.

[2019-06-11 21:20] mholt commented on #159
@klauspost That's really cool! I am willing to replace gzip with pgzip, but I notice that it should only be used when working with > 1 MB. The way archiver is designed makes it hard to toggle which package to use between the time we can know the file size (and we only know that sometimes, since we're working with steams most of the time) and the time that we start the encoding/decoding work.

Is i

[2019-06-12 19:42] klauspost commented on #170
If you have the chance, I have added https://github.com/klauspost/compress/pull/123 to fix the modules situation. If it will be good enough for you, I'll merge it and do a release.

[2019-06-12 19:58] mholt commented on #170
@klauspost I suppose so; I'm not actually sure how to test it for sure until it gets merged 😅 but from the looks of it, that should help. I can wait until fd0 confirms that, thanks!

[2019-06-13 11:57] Inconnu08 commented on #122
I would like to take on this

[2019-06-13 15:00] mholt commented on #122
Use `filepath.Glob`: https://golang.org/pkg/path/filepath/#Glob

[2019-06-18 18:15] torgabor commented on #164
I think this is a great idea, not just for the nested reads you mentioned, but for any case where you have the archive  not as a file on disk, but abstracted away as an io.Reader. The only difficulty with the implementation seems to be that right now the code uses the file extension to infer the type of file, so to implement this feature, a header-based format autodetection would need to be implem

[2019-06-21 13:40] gesquive commented on #151
I've run into this same issue. Cleared my go cache and modcache, still pops up the same error when I go get the v3.1.1 package. @Phillip-Gabler What do you mean by deleted the sources?

[code]

[2019-06-21 22:57] WhileLoop commented on #140
@mholt
I am not able to to get that example to work. Using a http request results in content-length being 0. Using a response results in an error about needing a io.ReaderAt.

What am I missing here?

[2019-06-22 13:00] JalonSolov commented on #161
https://github.com/andybalholm/brotli

[2019-06-22 13:20] JalonSolov commented on #159
If there's a large enough difference in speed vs file size, there's no reason you couldn't just check the file size and use whichever one fits better.

[2019-06-22 14:10] alixaxel commented on #161
@JalonSolov Amazing! How reliable is this `c2go` tool?

[2019-06-22 14:22] mholt commented on #159
@JalonSolov unfortunately it's not that simple since the file size is not exposed to the past of the code that is concerned with setting up the compressor/decompressor.

[2019-06-22 14:49] mholt commented on #161
@alixaxel That project is in a usable state, I've already implemented into Caddy 2. Feel free to submit a PR.

[2019-06-23 17:03] klauspost commented on #159
In terms of compression there is no (significant) drawback and in terms of speed, there is a "startup fee", but I can't see it be anything influencing real world use. So yeah, unless you are doing many thousands of small files, it shouldn't be a problem.

Do note that the compression levels are re-balanced compared to stdlib. This makes the "level" adjustments much more natural and useful - but re

[2019-06-23 20:53] #161 closed

[2019-06-23 21:10] mholt commented on #161
I just went ahead and took 10 minutes to add it.

However, the tests seem to fail with it, unfortunately.

[2019-06-23 21:14] mholt commented on #161
Nevermind, fixed the panic in d3de269f4e3994bbf03462d448cb215e27efc405. Should work now.

[2019-06-23 21:17] #165 closed

[2019-06-23 21:57] mholt commented on #159
@klauspost Alright, great! I'll make pgzip the default, with an option to manually disable multithreaded if a user is using the package in a tight loop for small files.

I tested the difference on a 45 GB file.

Before (compress/gzip):

[code]

After (klauspost/pgzip):

[code]

That's a 90% reduction!

Going to commit this and do a release. Thanks @klauspost!

[2019-06-25 10:43] Inconnu08 commented on #122
@mholt seems like wild cards are already supported. You can close this.

[2019-06-25 15:56] mholt commented on #122
I don't believe that is the case.

[2019-06-25 16:24] Inconnu08 commented on #122
@mholt when I run `arc archive test.tar.gz *.txt` or `arc archive test.tar.gz *file.*` it archives all the specific files.

[2019-06-25 16:34] Inconnu08 commented on #122
My bad, it was my change...pr-ing soon

[2019-06-25 17:18] mholt commented on #122
@Inconnu08 Your shell is probably expanding that for you, not arc.

[2019-06-25 18:29] Inconnu08 commented on #122
@mholt thanks for pointing that out. You were right.

[2019-06-27 11:04] mvdan opened #174 "Help output is too long and lacks examples"
## What version of the package or command are you using?

v3.2.0

## What are you trying to do?

Figure out how to use arc, making many mistakes in the process.

## What steps did you take?

Try running commands like `arc` or `arc help`, expecting to see quick examples to create and extract archives.

## What did you expect to happen, and what actually happened instead?

See maybe 20 or so lines o

[2019-06-27 19:38] #122 closed

[2019-07-08 15:27] zartdinov commented on #140
Looks like it's unreal to extract large files on the fly because zip archives require random access for reading.

[2019-07-13 22:10] ns-cweber opened #175 "Opt out of extension checks"
## What would you like to have changed?
Remove the errors when the output file path doesn't end in a particular extension (https://github.com/mholt/archiver/blob/master/targz.go#L40). As far as I can tell, these checks are just enforcing a file naming convention; I don't think they help ensure correctness. Seems like the extension checking could be made optional, ideally be decoupling it from the

[2019-07-13 22:16] mholt commented on #175
Well, the extension is actually really important. If you need a different file name, just rename it later like you're doing.

History:
- https://github.com/mholt/archiver/issues/123
- https://github.com/mholt/archiver/issues/90

[2019-07-13 22:16] #175 closed

[2019-09-01 22:34] kevinburke1 opened #180 "Way to avoid pulling every dependency"
I am using archiver to pack and unpack .tar.gz files. For a project I am working on I am vendoring every library with `go get -mod=vendor ./...`. Unfortunately with archiver this means that I also must vendor the Brotli, Snappy etc. upstream libraries, even though the binary I am using doesn't actually link them or need them. This means an unnecessarily large vendor directory, larger Git pushes/pu

[2019-09-02 03:14] mholt commented on #180
How large is your vendor folder? My recommendation would simply be to fork the project and remove all the files for the formats you don't need.

[2019-09-02 08:01] kevinburkemeter commented on #180
It's over 10MB at this point... one approach would be to mirror e.g. crypto/sha{1,256,512} where multiple different packages implement a single interface, and callers can either use the broad interface or the single package that they need.

On Sun, Sep 01, 2019 at 8:14 PM, Matt Holt < notifications@github.com > wrote:

[2019-09-02 16:39] mholt commented on #180
Okay, you're referring to a plugin model kind of like what [Caddy](https://github.com/caddyserver/caddy) does.

I don't have the time to work on that for this repository right now, but if it was a PR I could review it. (I am not sure how quickly I could get around to it, though.) The quickest short-term solution for you would probably be to do what I suggested and fork it, remove the features you

[2019-09-25 02:14] 1138-4EB commented on #150
Same issue here. With `archive/zip` I can replace `OpenReader` with `NewReader`:

[code]

[code]

But this seems not to be possible with `archiver`. @mholt is this a `wontfix`?

[2019-10-17 20:35] fproulx-dfuse opened #183 "Compress Zstd defaults to low memory"
The zstd library defaults to low memory mode which is very conservative with my use case. I had to fork your lib to disable this low memory mode (I use `WithDecoderLowmem(false)`)

Consider disabling this or set to more usable value...

[2019-10-17 20:36] mholt commented on #183
We'd be happy to consider a pull request that makes it configurable. Should be an easy enhancement.

[2019-10-18 15:53] abourget opened #184 "Close errors silently ignored"
In latest `master`, the signature of `cleanupFunc` is `func()`, silences errors. Its use through is mostly through `defer` which also silently ignore errors.

All of the `.Close()` funcs silently ignore the error (because `cleanupFunc` doesn't handle it), therefore, if for some reasons (and I've found ways that `zstd` errors on Close), any `.Close()` fail, then you're out of luck, and end up with

[2019-10-25 07:35] torbjornvatn opened #187 "go get results in 410 Gone"
#162  What version of the package or command are you using?
v3.1.1

## What are you trying to do?
I'm trying to upgrade to v3.2.0 using `go get -u github.com/mholt/archiver`

## What steps did you take?
First I ran `go get -u github.com/mholt/archiver` but it didn't find the newest version. The I tried to manually change the version to v3.2.0 in the `go.mod` file, but then it fails with an error i

[2019-10-28 08:16] marklit opened #188 "Performance Improvements with DEFLATE?"
I've [benchmarked](https://tech.marksblogg.com/faster-zip-decompression-unzip-deflate-zlib-crc32-adler32-7zip-archiver.html) decompressing a 267 MB ZIP archive using DEFLATE with Archiver 3.2.0 and six other tools and methods and Archiver came out being the slowest, it was over 2x slower than using Python 2.7 and zlib-ng. Archiver appears to use SSE 4.2 and AVX op codes but I'm uncertain these are

[2019-10-29 01:40] mholt commented on #188
I'll defer to @klauspost for this one. 😅 He's a lot smarter than me when it comes to this stuff!

I only ever use this for small stuff and not in hot paths, so I haven't personally been too concerned about performance. But I'm totally down if someone wants to improve it!

[2019-10-29 09:20] klauspost commented on #188
@mholt I haven't looked much into inflate (decompression) performance. However, it shouldn't be terrible - although decompression speed is the main problem with deflate.

However, the (stdlib) package does make a 'promise' that it will never read beyond the end of the stream. That makes it quite inefficient, since it has to do a read operation, basically one byte at the time.

I think you would se

[2019-10-29 10:01] klauspost commented on #188
@marklit Some feedback on your article. Hope you don't mind.

The decompression part is typically referred to as 'inflate'.

Deflate does not have any checksum. You might be thinking of "ZLIB (RFC 1950)" streams. Those are fairly uncommon 'in the wild'.

Typically there isn't much to be gained from vectorisation when dealing with compression. Every output byte depends on the previous value, so the

[2019-10-29 11:29] marklit commented on #188
Thanks for looking into that @klauspost, shame it didn't make a difference. Cheers for the blog feedback as well. I'll probably include these with a few other updates in the coming weeks.

The ZIP files I can't do much about, I have been given a few million of them that were produced over a decade ago in some cases.

[2019-10-29 15:51] mholt commented on #188
Thanks for the input, @klauspost! :+1:

I guess I will close this? If anything actionable comes about we can reopen it.

[2019-10-29 15:51] #188 closed

[2019-11-04 02:48] lyenrowe opened #189 "when install dependencies package report unrecognized import path "math/bits""
G:\go\src\lyen>go get -u -v github.com/mholt/archiver/cmd/arc
github.com/mholt/archiver (download)
github.com/andybalholm/brotli (download)
github.com/dsnet/compress (download)
github.com/golang/snappy (download)
github.com/klauspost/compress (download)
package math/bits: unrecognized import path "math/bits" (import path does not begin with hostname)
github.com/klauspost/pgzip (download)
github.co

[2019-11-04 04:38] mholt commented on #189
Yes, update your Go version. :)

Feel free to comment again if that does not work!

[2019-11-04 04:38] #189 closed

[2019-11-14 00:16] nmiyake commented on #187
+1 -- the module name for the current project is not compatible with the major version being >=2.

Per https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher, the module name needs to include the major version number to be valid.

Per the above, the suggested approach (most compatible with non-module Go code continuing to consume the library) would be to create a new `v4` directo

[2019-11-14 00:46] nmiyake commented on #187
Specifically, it appears that the module conversion for this repository ran into a common pitfall for converting repositories at v2+: https://github.com/golang/go/issues/31543

[2019-11-14 01:05] mholt commented on #187
Yep, the readme needs to be updated.

Installation should be implicit when using as a library. Simply import `github.com/mholt/archiver/v3` and the go commands will take care of the rest.

Or you can add it to your go.mod manually with:

[code]

[2019-11-14 02:17] nmiyake commented on #187
This currently doesn't work due to the way the module is declared at https://github.com/mholt/archiver/blob/master/go.mod#L1 -- in order for this to work, the module needs to be defined as `module github.com/mholt/archiver/v3` with the "v3" suffix.

Current output:

[code]

[2019-11-14 02:29] mholt commented on #187
You're right -- submit a PR if you'd like :) I'm swamped for the next couple days.

[2019-11-14 03:03] nmiyake commented on #187
Opened PR at #190.

That approach updates the module name to "v3" -- that will fix new fetches, but existing imports will need to be updated to the "v3" path for modules.

I think this is the approach that makes the most sense, but for completeness will note that another approach (advocated by some of the linked documentation) is to bump the major version for module support and create a new subdir

[2019-11-14 03:05] #187 closed

[2019-11-14 04:51] nmiyake opened #191 "Tag v3.2.1 (or v3.3.0) to improve module support"
## What would you like to have changed?
The repository state at (or after) commit 7598309 should be tagged as v3.2.1 or v3.3.0

## Why is this feature a useful, necessary, and/or important addition to this project?
This will complete the support for go modules implemented by #190 and allow the module to be added as a dependency by running `go get github.com/mholt/archiver/v3`

## What alternatives

[2019-11-14 16:42] mholt commented on #191
Done, thanks!

[2019-11-14 16:42] #191 closed

[2019-11-14 20:37] mholt commented on #152
Should be fixed in #171

[2019-11-14 20:37] #152 closed

[2019-11-15 08:47] nianjiang opened #194 "Support war file (Java web package)"
## Introduce the format you are requesting.
war file, is the  type of java web package.
Naturally， it is same with zip, using zip function can Unarchive the war file.

## What do YOU use this format for?

## What is the format's conventional file extension(s)?

## Please link to the format's formal or official specification(s).

## Which Go libraries could be used to implement this format?

[2019-11-16 00:44] nmiyake opened #195 ""go get" fails in GOPATH mode"
Running `GO111MODULE=off go get github.com/mholt/archiver` (or, more generally, running `go get github.com/mholt/archiver` in GOPATH mode) fails with the following output:

[code]

This is due to an interaction between Go module semantic version imports and GOPATH mode not working well together in certain cases -- filed https://github.com/golang/go/issues/35630 to track the underlying issue on the

[2019-11-16 11:27] Croissong opened #196 "Version subcommand"
## What would you like to have changed?
Provide an `archiver version` subcommand to display its current version corresponding to the github release tag.

## Why is this feature a useful, necessary, and/or important addition to this project?
I don't believe it's currently possible to figure out the used version, or is there?

Thanks in advance :)

[2019-11-18 07:13] AlexAkulov commented on #159
@klauspost helped to add multithreading support to https://github.com/pierrec/lz4/issues/55 too!
Please update https://github.com/pierrec to 3.2.0 for activating this feature.

[2019-11-22 08:03] kounelios13 commented on #195
Is there any way do go get it right now?

[2019-11-25 17:22] nmiyake commented on #150
Will note that there is some similarity here to #131 , which is asking for APIs to archive and unarchive from `io.Reader` and `io.Writer` interfaces.

[2019-11-25 18:27] nmiyake commented on #131
I've put up PRs #199 and #200 that would mostly do this.

Previously, there was:

[code]

Those PRs would introduce:

[code]

Besides the argument order being swapped and the names being different, the other primary difference is that the "Read" function takes a "size" parameter. This is not required for tar or rar archives, but is required for zip archives -- removing the "size" parameter would f

[2019-12-02 17:30] technicianted opened #202 "Creating tar archive fails with symbolic links"
## What version of the package or command are you using?
3.3.0

## What are you trying to do?
Create a new tar archive.

## What steps did you take?
Create a tar archive from the following:
[code]
With:
[code]

## What did you expect to happen, and what actually happened instead?
A new archive is created at `/tmp/archiver.tar` but you get an error:
[code]

## How do you think this should be fixed?

[2019-12-02 21:42] awgh commented on #195
Revert change #192 on master immediately, only development branches should refer to other development branches!!!  That's not only a best practice, it's common sense.

You just gave a serious WTF moment to all of your users over this change, for no real reason.  The modules thing is not even the issue, and doesn't really solve the dependency management aspect of the problem here at all.

[2019-12-02 21:53] nmiyake commented on #195
@awgh the change you referenced doesn't reference a development branch -- it adds a dependency for version 3.0.1, which is a release version of the referenced project: https://github.com/pierrec/lz4/tree/v3.0.1

The `github.com/pierrec/lz4` project has taken an unconventional (but valid) approach to modules, where it seems that they only add the `go.mod` file on releases but don't maintain it on t

[2019-12-02 22:37] nmiyake commented on #195
Although not pretty, in GOPATH mode with a clean GOPATH, running the following command will allow "go get" or "go install" to succeed:

[code]

Basically, if the copy of `github.com/pierrec/lz4` in the local GOPATH includes the `go.mod` definition that declares the major version of the module, then the "go get" or "go install" of this package will succeed due to the minimal module compatibility co

[2019-12-04 22:47] mholt commented on #195
Unfortunately, Go modules broke the behavior of `go get` for this, I also opened an issue about it: https://github.com/golang/go/issues/31529

I think if a user wants to maintain a deprecated Go convention from earlier versions of Go while using a newer version of Go, that is their responsibility -- and the lack of a go.mod in the lz4 lib isn't a bug in this project.

I think it's important that w

[2019-12-04 22:47] #195 closed

[2019-12-05 04:58] JalonSolov commented on #194
This would "just work" if ByHeader support were added to more formats.  All zip files would be handled as zip files, regardless of file extension.  Truthfully, ByHeader should always be the default, since file extensions are wrong far too often.

[2019-12-11 12:21] junfengye opened #204 "support io.Reader/io.ReaderAt for Walker"

[2019-12-11 16:55] mholt commented on #204
Hello, can you provide more details and explain why you need this?

[2019-12-12 18:13] iskrenpp opened #206 "Dep is missing - rebuild needed"
Been using your lz4 package but I started getting error today that "github.com/pierrec/lz4/v3" is missing. Please update the dep as needed to compile lz4.go

## What version of the package or command are you using?

## What are you trying to do?

## What steps did you take?

## What did you expect to happen, and what actually happened instead?

## How do you think this should be fixed?

## Please

[2019-12-17 05:02] simar7 commented on #204
Hello @mholt, I'd also like to +1 for this request. My use case would be an in memory tar file that I've read and hold a io.Reader/io.ReadCloser for.

Currently Walk expects an archive name as the first argument https://github.com/mholt/archiver/blob/master/archiver.go#L214 it would be nice if it could take an io.Reader and read from it.

Does that make sense?

[2019-12-21 22:27] oO0XX0Oo opened #207 "rar multipart (*.part1.rar, *part2.rar) support?"
Hi,

I have a lot of multipart .rar archives that follow the pattern from the title
[code]
but when I execute a command like this:
`arc.exe -overwrite unarchive "R:\melodies.part1.rar" "R:\melodies"`

I only get the message:
`scanning source archive: scanning tarball's file listing: rardecode: archive continues in next volume`
and no extraction is done...

I'm on Windows, using arc v3.2

[2019-12-22 13:31] loint commented on #206
package github.com/pierrec/lz4/v3 was dead

[2019-12-25 18:59] palindrom615 commented on #206
I have gone through this issue and in conclusion, nothing's wrong with both this repo and
https://github.com/pierrec/lz4/tree/v3 .

For some reason or other, `github.com/pierrec/lz4` is distributed both the old way(v2.x) and with go modules(v3.x). Thus, if your go version is below 1.14, you should set environment variable `GO111MODULE=on`  outside of directory with `go.mod` file.

like this:

[cod

[2019-12-25 19:14] mholt commented on #206
Yes, until Go 1.14 (or whenever Go makes modules on by default), you need to set GO111MODULE=on.

[2019-12-25 19:14] #206 closed

[2020-01-14 21:36] mholt commented on #131
Thanks for all the work on this, I will get back to this sometime after Caddy 2 is in a more polished state.

[2020-01-23 21:34] iskrenpp commented on #206
After trying setting this env var GO111MODULE=on, the issue still persisted for me.
I deleted all local copies of any src or pkg in my GOPATH. The only fix that worked for me was after I ran at least once " go get" then I edited

and removed trailing /v3

then next 'go get' worked with no issues fetching all deps

[2020-01-27 15:27] jbrockopp commented on #141
@hy05190134 I know this is a year later so likely not helpful, but incase it helps others, we were able to figure out how to work around this 👍

We experienced the same issue with this code:

[code]

It **ALWAYS** seemed to fail on the call to `CompressFile()` and gave us the same error message you provided above:

We even attempted to mess with different file extensions (`.tgz`, `.zip` etc..) and

[2020-02-05 09:15] mosheDO opened #209 "Add support for zip bomb attack"
## What would you like to have changed?

Support for [Zip BOMB](https://en.wikipedia.org/wiki/Zip_bomb)

## Why is this feature a useful, necessary, and/or important addition to this project?

A main security issue for extracting archives

## What alternatives are there, or what are you doing in the meantime to work around the lack of this feature?

## Please link to any relevant issues, pull requ

[2020-02-07 23:47] akerl opened #210 "Unordered hard links"
## What version of the package or command are you using?
v3.3.0

## What are you trying to do?
Extract a tar with hard links where the archive considers the “real” file to be one which lexically does not sort first.

## What steps did you take?

[code]

## What did you expect to happen, and what actually happened instead?
Expected the tar to be extracted to disk, instead the program errors out.

#

[2020-02-07 23:53] akerl commented on #210
Heh, seems this is already fixed in the commits between the latest tag and the present. Running against `master`, the bug doesn’t occur.

Would it be possible to tag a new release that includes these commits?

[2020-02-08 04:41] mholt commented on #210
Yeah, I've been swamped with Caddy work at the moment (trying to keep it financially alive) -- but I'll revisit this project as soon as I have a chance!

[2020-02-09 21:04] vedantroy opened #211 "Installation Instructions Incorrect / go get fails"
## What version of the package or command are you using?

Not sure how to check. I just ran `go get github.com/mholt/archiver/v3`

## What are you trying to do?

Install the package and use it.

## What steps did you take?

Installed go on Windows.
Ran `go get github.com/mholt/archiver/v3`

## What did you expect to happen, and what actually happened instead?

The package should successfully insta

[2020-02-14 22:10] aprice2704 commented on #195
Thanks! This helped me out :)

[2020-02-18 19:57] lissyx opened #212 "Tar extraction should set tar-level timestamps"
## What would you like to have changed?
When extracting a tar (or tar composition, i.e., tar.xz, tar.gz, tar.bz2, etc), I would like the extracted files to have the proper timestamps (atime, mtime) that were recorded in the file

## Why is this feature a useful, necessary, and/or important addition to this project?
This is the behavior of `GNU tar`, and lacking this feature breaks some usecases

#

[2020-02-18 20:00] lissyx commented on #212
I tried to make something that works pretty well in my case, but I'm really not at ease with Go to do more:
[code]

[2020-02-19 09:50] petemoore commented on #152
I think this issue is still present, see https://github.com/mholt/archiver/pull/171#issuecomment-588129903.

Many thanks!

[2020-02-19 09:59] petemoore opened #213 "Problem extracting archives with hard links"
## What version of the package or command are you using?
3.3.0

## What are you trying to do?
Extract https://github.com/git-for-windows/git/releases/download/v2.11.0.windows.3/Git-2.11.0.3-32-bit.tar.bz2

## What steps did you take?
Built arc from `v3.3.0` branch, then ran `arc unarchive Git-2.11.0.3-32-bit.tar.bz2`.

## What did you expect to happen, and what actually happened instead?
I hoped f

[2020-02-19 18:08] mholt commented on #213
Can you open a pull request with the fix to master? That will make things faster.

[2020-02-20 10:36] doronbehar opened #214 "Question: How to use NameInArchive?"
I'm writing a Go program that should be capable of printing contents of archives (it's called [Pistol](https://github.com/doronbehar/pistol)). My implementation is different somewhat in comparison to this project's `arc ls` though I'm still using the walker interface. The main difference is that I don't use a switch case for `f.Header.(type)`:

https://github.com/mholt/archiver/blob/44285f7ed244a1

[2020-02-21 21:58] J7mbo commented on #150
This looks promising - any progress?

[2020-02-23 14:44] J7mbo commented on #130
@mholt  I think that this issue is related to [this](https://github.com/golang/go/issues/32300).

I'm looping around a zip of a bitbucket repo. I'm trying to extract all text files that are mine and **not** in vendor.

When looking at your `FileInfo` provided from `Walk()`, getting to a vendor/ directory, the `Name()` function only contains the name of the file, not the path itself (which is weird

[2020-03-02 16:07] petemoore commented on #213
Apologies, it did end up on master, under a different commit id (f426e4246a0ca99631906e94a3ec803254c99935  -> 9ea51e7370bcb0ca5aa6318b481c2fd51697db9f). So there is not anything to merge after all.

So this suggests that the original issue (#152) wasn't fixed by the change (#171).

I'm sorry about this as [you did originally ask me to test the fix](https://github.com/mholt/archiver/pull/153#issuec

[2020-03-08 14:56] BorisKozo opened #216 "Help structured archive"
Hi,

I spent ~2 hours on this and can't figure it out. I have 3 files:
[code]

I want the archive to contain only a.txt and b.txt with their structure like this:
[code]

This is my code:
[code]

It either puts all the files in the root of the archive or doesn't let me filter out c.txt.

Any help would be appreciated.

[2020-03-09 02:35] jpninanjohn opened #217 "Not able to decompress a tar.gz file"
## What steps did you take?
Tried to use Decompress to extract a `tar.gz` file

## What did you expect to happen, and what actually happened instead?
Expected:  Contents to be extracted succesfully
Actual: Failed with the message -> `format specified by source filename is not a recognized compression algorithm: tar.gz`

## How do you think this should be fixed?
https://github.com/mholt/archiver/bl

[2020-03-09 04:44] mholt commented on #217
Oops, you might be right. Could you submit a PR?

[2020-03-09 05:03] jpninanjohn commented on #217
Sure. I will fix the ones I can find that have the `&&`

[2020-03-11 02:31] jpninanjohn commented on #217
I mistook another error and thought it was because of this. Existing code works fine.

I do have a question though(might be a stupid one). For a file which is tarred and gzipped.. like `test.tar.gz`, should I use `Unarchive` or `DecompressFile`?

[2020-03-11 05:19] mholt commented on #217
Use `Unarchive` :)

[2020-03-11 05:19] #217 closed

[2020-03-27 06:52] phpmaple opened #220 "How to archive exclude Hidden files like .DS_Store"

[2020-04-19 02:16] pavanmr94 commented on #216
I would really love of it could take a filter function like os.WalkFn.
I had this same problem before, I just delete the non required files or copy the required files to /tmp using os.WalkFn and then archive the whole folder.

[2020-05-19 11:17] NightMachinary commented on #211
[code]

[2020-05-26 00:21] Semi-Colin commented on #211
I have found a very crude way of fixing this before a patch is made.

1. ```go get -u github.com/mholt/archiver```
This will return an error, that is ok.
2. ```cd $GOPATH/src/github.com/mholt/archiver/```
3. A couple of files will contain ```github.com/mholt/archiver/v3``` in the import command. Remove the ```/v3``` from these import files:
- ```lz4.go```
- ```tarzl4.go```
- ```tar_test.go``` (thi

[2020-05-26 01:19] Semi-Colin commented on #220
What do you mean by this? We can only help you if you give us the specific situation you are working with.

[2020-05-27 01:35] jingyuLin1999 commented on #220
A folder has many sub files. Packed with archive, he wants to exclude some sub files. I think that's what he meant. I'm in trouble with the same problem. I'm looking forward to your reply.

[2020-05-27 01:57] mholt commented on #220
You can do this already, just populate your file list without the files you want to exclude: https://pkg.go.dev/github.com/mholt/archiver?tab=doc#Archive

[2020-05-27 01:57] #220 closed

[2020-06-07 21:48] nu8 opened #221 "format unrecognized by filename"
If I use the file here:

<https://github.com/mholt/archiver/releases/download/v3.2.0/arc_windows_amd64.exe>

Everything works fine. But if I build my own, I get this result:

[code]

[2020-06-08 15:05] claassen opened #222 ""no such file or directory" when reading symlinks"
## What version of the package or command are you using?
github.com/mholt/archiver/v3 v3.3.0

## What are you trying to do?
Create a zip from a folder that contains symlinks that is not directly in the current path

## What steps did you take?
z.Archive([]string{"/Users/claasmi/.provisioning-cli/package"}, "package.zip")

## What did you expect to happen, and what actually happened instead?
Expect

[2020-06-30 11:08] slav123 opened #224 "missing dependencies"
[code]

[2020-06-30 17:06] mholt commented on #224
Duplicate of #211

[2020-06-30 17:06] #224 closed

[2020-07-04 18:08] FeNoMeNa opened #225 "zip: unable to unarchive file with LZMA compression method"
## What version of the package or command are you using?
d44471c49aa7

## What are you trying to do?
I'm trying to unarchive a zip file with LZMA compression method.

## What steps did you take?
[code]
**package.zip** is a zip archive with LZMA compression.

## What did you expect to happen, and what actually happened instead?
A successful decompressing is expected, but a panic is thrown:
[code]

[2020-07-06 09:18] stoerr commented on #163
I'd like to heavily support that. Besides that it is not clear which options apply to which commands, it is not clear to me how one could switch an option off (many of them say default true). Also there are some strange behaviours of the commands which aren't mentioned in the help, and I don't know whether I'm doing something wrong or there is much functionality missing:
- if I unpack an archive i

[2020-07-06 17:06] mholt commented on #225
/cc @fcharlie do you have a chance to look at this?

[2020-07-06 17:45] mholt commented on #163
I agree, the CLI could use some attention.

Unfortunately I've been swamped with my day job (especially busy since all the craziness this year, for some reason). Would be happy to have help maintaining this repo in the meantime.

[2020-07-06 22:06] fcharlie commented on #225
@FeNoMeNa May I ask what compression software (7-zip?) you used to create a zip(LZMA) file.

[2020-07-06 23:03] fcharlie commented on #225
@mholt ZIP+LZMA is disabled https://github.com/mholt/archiver/pull/226

[2020-07-09 14:08] mymtw opened #227 "Question: is split of tar archive possible?"
## What would you like to have changed?

Is it possible to create a tar archive split into blocks of a maximum size?
like [here](https://unix.stackexchange.com/questions/61774/create-a-tar-archive-split-into-blocks-of-a-maximum-size) advising it possible in unix as:
`tar cvzf - dir/ | split --bytes=200MB - sda1.backup.tar.gz.`

## Why is this feature a useful, necessary, and/or important addition

[2020-07-15 11:30] 361442342 commented on #227
@mholt
is this need to be done?i want to join your project,so if this feature is necessary,i will take a try

[2020-07-15 17:12] mbyio opened #228 "No top level directory"
## What version of the package or command are you using?
3.2 on Linux

## What are you trying to do?
Create an archive while specifying files that are in a sub-directory.

## What steps did you take?
Here's a little script that'll produce an archive demonstrating the issue:

[code]

Here's a script showing what the normal `tar` command does:

[code]

## What did you expect to happen, and what actu

[2020-07-17 20:44] mholt commented on #227
Um, I haven't given it any thought yet, sorry -- been busy with Caddy stuff recently.

Anything is possible, but we just need a good proposal and then someone can implement it.

[2020-07-17 23:53] bkeroackdsc opened #229 "Context support"
## What would you like to have changed?
Consider adding `...WithContext()` functions/methods for long-running operations to allow cancellation by callers.

Example:

`ArchiveWithContext(ctx context.Context, sources []string, destination string) error`

This would allow cancellation without breaking API compatibility.

Internally, the implementation could (for example) check for context cancellatio

[2020-07-17 23:56] mholt commented on #229
Yeah, this would be good in a v4 rewrite.

[2020-07-21 07:58] ilyapashuk commented on #229
and also some kind of progress monitoring can be useful, for example with callbacks.

[2020-07-21 08:01] ilyapashuk commented on #209
please describe more precisely what you want.
are you want to sea some kind of protection for this atack or you want to have bom generator in this package?

[2020-07-22 18:06] mosheDO commented on #209
I would like to have some kind of protection for this attack

[2020-08-10 18:36] kevinburkemeter commented on #180
I'm imagining something where each different format (brotli, zip etc) would have its own package, and then the top-level Archiver could either import them via aliases or call Register() or something to get all of them. Most people could import Archiver, if you cared you could import the package you want directly and avoid the other dependencies.

I took a short stab at this and two problems come u

[2020-08-10 19:09] kevinburkemeter commented on #180
I took a stab at laying out what this could look like, let me know what you think.

https://github.com/mholt/archiver/compare/master...kevinburkemeter:package-layout?expand=1

[2020-08-10 19:11] mholt commented on #180
Ah, yeah, so you want something like what Caddy does. Totally doable for next major version, _but_ there is a high cost: it's a lot of work to build the application, since you essentially have to customize it for your own requirements. Then you have to answer questions like, what would the default/standard distribution look like: which packages are included, etc?

We have some [tooling](https://gi

[2020-08-10 19:20] kevinburkemeter commented on #180
Basically, yeah, just reduce the number of requirements in the package. My sense was that the standard distribution would be everything that's currently imported by archiver - the archiver package would stay the same, it would just be possible, if you so desired, to only import the packages you wanted to.

[2020-08-10 19:35] kevinburkemeter commented on #180
Here's what the commit pointing at the fork looks like. Most of the gains are from avoiding brotli since that's about 250,000 lines.

[code]

[2020-08-10 19:58] kevinburkemeter commented on #180
After this change our binary size dropped from 52MB to 48MB.

[2020-08-12 09:37] LiuWeiMr commented on #211
Is sloved? I hava same problem.

[2020-09-04 10:25] ZaynJarvis commented on #130
like the filepath.Walk
https://golang.org/pkg/path/filepath/#WalkFunc

[2020-09-19 07:43] coolaj86 opened #232 "Update Github URL for pkg.go.dev"
The URL that shows in the sidebar is currently godoc.org, which directs users to pkg.go.dev:
https://pkg.go.dev/github.com/mholt/archiver

[2020-09-19 08:13] coolaj86 commented on #196
@mholt I'd be willing to add this such that `arc version` outputs a version number.

Given no other direction I would use either `goreleases` or copy https://git.rootprojects.org/root/go-gitver/src/branch/master/gitver/gitver.go into `tools/gitver.go` and add a `go generate` command.

However, I know that you are particular about how things are done, so I'd like to solicit your take on the matter

[2020-09-19 08:19] coolaj86 commented on #196
I suggest this subcommand:

[code]

And this as the output:

[code]

[2020-09-19 09:08] coolaj86 commented on #211
# Install with Go

Install Go

Mac, Linux
[code]

Windows 10
[code]

Build `archiver` as `arc`

[code]

# Install without Go

Mac, Linux
[code]

Windows 10
[code]

`webi` (Webinstall.dev) uses the Github [releases](https://github.com/mholt/archiver/releases) API to download the `arc` binary to `~/.local/bin/arc` and then updates your `PATH`.

[2020-09-23 17:27] coolaj86 opened #235 "New Core Team Member: @coolaj86"
Hello, @weingart @jabgibson @johnarok @railsmechanic!

Please comment if you're still actively interested in helping maintain `arc` / `archiver`, so that I know I can tag you for reviews.

I had a conversation with @mholt that progressed from Twitter to the phone to me being added to the project to help out, so I wanted to introduce myself and summarize what we had talked about.

- Changes I'm int

[2020-09-24 00:02] mholt commented on #235
Thank you for helping out with this project, AJ! Hope you have fun with it. Hope others will be able to join in, too.

[2020-09-26 11:06] illiliti opened #238 "strip-components support"
## What would you like to have changed?
Add a way to strip top-level directories like GNU and BSD tar does

## Why is this feature a useful, necessary, and/or important addition to this project?
In some cases this feature is needed to extract actual files without top-level directories. Would be awesome to have this feature natively :+1:

## What alternatives are there, or what are you doing in the

[2020-09-29 18:03] coolaj86 opened #240 "[style] Use error instance rather than an error string"
Recently we had a PR that was necessary, but had some code style issues that we'd like to fix:

The PR in question: https://github.com/mholt/archiver/pull/231/files

## What would you like to have changed?

There are a few ways I think could work really well:

1. Follow the style of [`os.IsNotFound`](https://golang.org/pkg/os/#IsNotExist)
    - Let's add function something like `IsIllegalPath` in

[2020-09-29 19:18] coolaj86 opened #242 "[sec] check if symlink points outside of destination directory"
I was able to confirm that `os.Create()` will happily follow symlinks.

Although standard tools like `tar` will not likely allow you to add two files with the same name to an archive file, it's certainly easy enough to do in code. This means that **we need to add an additional check** before writing to a destination to make sure that it's not a symlink outside of the destination.

The vulnerabilit

[2020-09-30 14:03] M-Buntoro commented on #242
Hi @coolaj86 is this issue stil open? can I try work on it?

[2020-09-30 18:28] ibraimgm commented on #240
I can take a look at this one, if you wish.

[2020-09-30 21:25] coolaj86 commented on #240
Thanks @ibraimgm, that would be great.

[2020-09-30 21:25] coolaj86 commented on #242
@M-Buntoro Please do!

[2020-10-01 02:06] fergusstrange opened #244 "Remove bundling of GoLangCI Lint as a dependency"
## What version of the package or command are you using?

https://github.com/mholt/archiver/releases/tag/v3.3.1

## What are you trying to do?

Import and use the archiver via go modules

## What steps did you take?

When importing archiver as so

[code]

## What did you expect to happen, and what actually happened instead?

The entirety of https://github.com/golangci is imported. It appears this

[2020-10-03 11:04] bytecook commented on #242
Any advice on how to test our solutions? I've tried making a destination folder and unarchiving the evil tar files to the "dst" folder with:

```go run cmd/arc/main.go unarchive testdata/testarchives/evilarchives/evil.tar.gz  dst```

 but everything is already showing up inside the dst folder where it should be, even after I commented out what I prematurely thought was a possible solution.

I'm co

[2020-10-03 13:46] nu8 commented on #221
whatever was causing the problem seems to have been resolved

[2020-10-03 13:46] #221 closed

[2020-10-03 15:01] nu8 opened #245 "Option to specify file type"
This file:

https://github.com/microsoft/terminal/releases/download/v1.3.2651.0/Microsoft.WindowsTerminal_1.3.2651.0_8wekyb3d8bbwe.msixbundle

is essentially just a Zip file, with a different extension. However it seems it
is not possible to extract it as is:

[code]

but if I rename it to `.zip`, it works fine. It seems Arc should either have a
heuristic to detect file type, or allow user to spec

[2020-10-03 23:38] ibraimgm commented on #240
Done. Please take a look at #246 and let me know if you any fixes are needed.

[2020-10-04 00:33] mholt commented on #240
If you want to export error types/values, you might consider using `%w` to wrap errors. (I don't have a strong preference either way, but that's usually how Go does it; most of the std lib was written before error wrapping was standard so you won't see it there too much.)

[2020-10-04 01:57] ibraimgm commented on #240
@mholt Not sure how wrapping itself will help in this case (maybe I'm missing something?).

I initially thougth about also adding a generic error value `InvalidPathErr` (with a empty `Filename`) and change the `Error` method accordingly. This would (at least in theory) allow the user to use `errors.Is`.Not really sure if it is worth the trouble, since we already provide `IsInvalidPathError`...

[2020-10-04 16:40] coolaj86 commented on #242
@bytecook

This one is difficult to test because it requires creating a specially crafted double-evil.zip that contains "invalid" double entries.

I'd say it would be sufficient to
- not break existing tests
- add an `unsafe` option that turns off the protection

I'll open another issue for crafting the bad file. I don't think that can be done with `arc` currently without adding an `unsafe` flag b

[2020-10-04 16:40] coolaj86 commented on #245
I like this.

[2020-10-04 16:48] coolaj86 opened #247 "craft zip file for symlink testing"
We need a special zip file that cannot be created with normal commandline tools. It requires crafting with an API. This should be possible with [`archive/zip#Writer`](https://golang.org/pkg/archive/zip/#Writer), for example.

We want a **double entry** of a file - the first being a symlink such that the second will be placed in an arbitrary location:

[code]

This should go in [testdata/testarchiv

[2020-10-04 16:51] BatoolMM commented on #245
I'd like to give it a try, can you assign it to me, please?

[2020-10-04 16:52] coolaj86 commented on #245
@BatoolMM Assigned!

[2020-10-04 17:32] kross9924 commented on #247
can I work on this?

[2020-10-04 17:37] coolaj86 commented on #247
Assigned!

[2020-10-04 20:05] kross9924 commented on #247
@coolaj86 can you please elaborate on zip file structure.

[2020-10-05 08:18] coolaj86 commented on #247
@kross9924 Can you ask a more specific question? What about the file structure with 4 files as described above is unclear?

[2020-10-05 11:51] rathann opened #248 "RFE: port to github.com/pierrec/lz4/v4"
## What would you like to have changed?
Make it possible to build with `github.com/pierrec/lz4/v4`.

## Why is this feature a useful, necessary, and/or important addition to this project?
`lz4` was updated to 4.0.2 in Fedora rawhide and `archiver` no longer builds using distribution-provided Go packages as a result.

## What alternatives are there, or what are you doing in the meantime to work aro

[2020-10-05 12:50] kross9924 commented on #247
Is this file structure ok  ?

                                                                                      double-evil.zip
                                                                                       /                   \
                                                                            badfile.txt                dir

[2020-10-05 13:05] kross9924 commented on #247
Is this structure correct>

double-evil.zip
1.badfile.txt  2.dir
                       2.1 subdir
                          2.1.1 goodfile.txt     2.1.2 morefile.txt     2.1.3 bad
                                                                                           2.1.3.1 file.txt

[2020-10-05 19:35] coolaj86 commented on #247
Use code fences and tables:

[code]

The point is that you can't actually create such a malicious file structure on disk:

[code]

[code]

`bad/file.txt` can only be either a file, or a link. It can't be both. However, zip and tar file indexes you can manipulate.

The directory structure in the zip file table should be exactly this:

| filepath | type | contents |  link |
|  ------- | ---- | -----

[2020-10-06 19:10] BatoolMM commented on #245
@coolaj86 , sorry, I won't be able to get it done this week, so I removed my assignment in case others (in the hacktoberfest) can get it done way quicker. Sorry again.

[2020-10-07 03:48] Red-0111 commented on #245
@coolaj86 please assign will try my best

[2020-10-07 14:54] frankh commented on #204
I'm also trying to use this library with archives held in memory, it would be great if either the `Archive`/`Unarchive` methods had equivalents that worked on Readers/Writers - of if `untarNext` was a public method

[2020-10-07 23:38] fergusstrange commented on #244
This looks to be resolved as of https://github.com/mholt/archiver/commit/be590448a3c1dd6dfd0b1368c53892900121a694

Thank you

[2020-10-07 23:38] #244 closed

[2020-10-08 00:12] Dean-Coakley commented on #211
@coolaj86 Can this be closed or is there more details to add to: https://github.com/mholt/archiver#install ?

[2020-10-08 01:21] coolaj86 commented on #211
@Dean-Coakley Yes, this was fixed in https://github.com/mholt/archiver/pull/236 and I forgot to close it out. Thanks.

[2020-10-08 01:21] #211 closed

[2020-10-08 01:26] coolaj86 commented on #248
@rathann Sorry, I didn't see this issue come in the other day. This looks great.

Would you submit this as a PR? If it passes the tests (which it looks like it will), then I'll get this merged in and cut a new release soon.

This is what you'll need to do:

1. Install `go`, if you don't have it. I recommend https://webinstall.dev/golang as the simplest, most lightweight way to do that.
2. Make the

[2020-10-08 01:28] coolaj86 commented on #247
@kross9924 Are you still working on this?

[2020-10-08 01:28] coolaj86 commented on #245
@Red-0111 Re-assigned. Take it.

[2020-10-08 02:11] Red-0111 commented on #245
Ok

[2020-10-08 14:02] kross9924 commented on #247
Yes I am working

[2020-10-08 15:52] coolaj86 commented on #242
@M-Buntoro are you still working on this?

[2020-10-08 15:54] coolaj86 commented on #240
@ibraimgm Did you see my comment at https://github.com/mholt/archiver/pull/246#issuecomment-703280843 about https://github.com/mholt/archiver/blob/master/error.go ?

[2020-10-08 16:10] ibraimgm commented on #240
@coolaj86 Sorry by the delay, I was out these last day and didn't have easy access to my messages.
Did you create a new issue to track the checking by type instead of by the string? If so, please assign it to me.

BTW, please consider to opt-in to Hacktoberfest [by following these instructions](https://hacktoberfest.digitalocean.com/hacktoberfest-update). They changed the rules this year, it is a

[2020-10-08 16:18] coolaj86 commented on #240
I added `hacktoberfest-accepted` to the commit. Since this is a personal repo I don't have access to add it as a topic to the repo.

It's good that they changed the way it works. There were _tons_ of spam commits going through - like this one: https://github.com/webinstall/webi-installers/pull/138

[2020-10-08 16:56] frankh opened #250 "Subdirectory names get dropped"
## What version of the package or command are you using?
`arc v3.3.2 c7eae9dcbcb1f0a0ce965184868097babf73d415 (2020-09-29T18:23:13Z)`

## What are you trying to do?
create an archive of a file multiple directories deep

## What steps did you take?
`arc archive test.tar.gz mobile/vendor/bundle`

the only file is `mobile/vendor/bundle/file.txt`

## What did you expect to happen, and what actually ha

[2020-10-08 17:01] kross9924 commented on #247
Opening a symlink file inside program is dereferencing it, so how can I add it in zip file?
@coolaj86 Please help

[2020-10-08 17:06] coolaj86 commented on #247
Don’t try to use real files.

Use the zip and tar writer API with byte strings and header objects.

That said, `lstat` does a link stat without following the link.

[2020-10-08 22:32] Dean-Coakley commented on #196
@coolaj86 This can be closed too?

Implemented in: https://github.com/mholt/archiver/pull/236

[2020-10-09 16:07] Croissong commented on #196
I assume it can, since @coolaj86 implemented it himself. Thanks a bunch you guys :)

[2020-10-09 16:07] #196 closed

[2020-10-09 21:42] kross9924 commented on #247
I am unable to figure out even after reading documentation several time.

How can I insert symlink into zip/tar file using writer API ?

@coolaj86 Please help.

[2020-10-09 22:50] coolaj86 commented on #247
Check out the golang test: https://golang.org/src/archive/zip/writer_test.go

Search "symlink" on that page.

[2020-10-10 11:24] kross9924 commented on #247
In tar file there is double entry of bad/file.txt
I guess that's fine.
created a pull request
Thank you.

[2020-10-11 00:19] nu8 commented on #245
Using the patch seems to work as expected:

[code]

[2020-10-11 17:38] AshDevFr commented on #211
This issue was closed but I still experience the issue when trying to use the library with Go:

[code]

Am I missing some step here?

[2020-10-11 17:48] coolaj86 commented on #211
You need to run `go mod init yourpackagenamegoeshere`

[2020-10-11 17:49] coolaj86 commented on #211
Also, you may need to upgrade to a recent version of Go or explicitly set `GO111MODULE=on`.

[2020-10-11 17:54] coolaj86 commented on #211
Also, it looks like you may had installed Go from brew or some other package manager that gave you a modified version. I highly discourage that.

I’d recommend using https://webinstall.dev/golang which uses unadulterated official tar and zip packages from golang.org, and won’t mess up /usr/local permissions like the .pkg does.

[2020-10-11 18:03] AshDevFr commented on #211
Thank you for the help, I switched from a brew version to using the curl command and it seems to have fixed it.
Really good to know.

[2020-10-12 13:04] M-Buntoro commented on #242
Hi, I'm no longer working on it
I think @bytecook already worked on this

[2020-10-12 22:34] #245 closed

[2020-10-13 04:43] #238 closed

[2020-10-13 15:15] ViRb3 commented on #150
I achieved universal extraction from memory by downcasting `archiver.NewZip()` or `archiver.NewTarGz()` to `archiver.Reader`, and then:
[code]

[2020-10-13 23:18] ibraimgm commented on #240
Ok, using an error instance is not as easy as it seems at first glance.
The problem is that the error is sometimes wrapped (for example, `zip.go`, line 257) and since it is wrapped, we "lose" the original error type and, as expected, `IsIllegalPathError`is not able to recognize the error.

I **think** we can solve this by using the error wrapping functionality from go 1.13 (basically, combining `%

[2020-10-17 00:44] Dean-Coakley commented on #225
This issue can be closed?

[2020-10-20 11:13] yene opened #255 "Option to ignore file extension and detect archive format by file content"
## What would you like to have changed?
An option to ignore the file extension and detect the archive format based on the file content.

## Why is this feature a useful, necessary, and/or important addition to this project?
Some of our customers deliver file formats with wrong extensions.

## What alternatives are there, or what are you doing in the meantime to work around the lack of this feature

[2020-10-24 22:53] #183 closed

[2020-10-24 23:01] #247 closed

[2020-10-24 23:09] coolaj86 commented on #245
Fixed in https://github.com/mholt/archiver/pull/252. Released with v3.4.0

[2020-10-24 23:17] coolaj86 commented on #255
There's now a `--ext` option which you can use set set the type explicitly, as per https://github.com/mholt/archiver/pull/252, released with v3.4.0.

I don't think that we're going to do any type of sniffing on files, but you could do something like this, if it's a script environment:

[code]

The best way to do that would be to try each

[2020-10-24 23:18] coolaj86 commented on #255
You could also use `file` to help determine the file type by "magic headers":

[code]

[2020-10-26 09:28] rathann commented on #248
@coolaj86 Sorry, I didn't have time to work on this earlier. Are you sure you want me to commit the result of `go mod tidy`? It removes all dependencies marked with `// indirect` from `go.mod` and `go.sum`.

[2020-10-26 22:02] coolaj86 commented on #248
@rathann You'll notice that the current patch is failing due to `go mod tidy` not having been run.

Realistically though, I don't think anyone should be using the version of Go that comes packaged with a distribution. It's bound to be out of date and to not follow the normal rules. The _real_ solution to this problem is to use the official version of Go. [Webi](https://webinstall.dev/golang) insta

[2020-10-27 15:53] bh7cw commented on #222
I met the same error when creating tar ball.

[2020-10-27 21:46] rathann commented on #248
Fixed.

No idea about that, I don't even know Go. I used distro-included Go and it seems to work:
[code]

I don't know. How do I check that?

It's your call. I'm just a distro package maintainer who wanted to package one thing and ended up with maintaining all its Go dependencies.

[2020-10-28 01:22] coolaj86 commented on #248
But then why are you having to change archiver's dependencies?

This is what raises alarm bells, which I overlooked at first.

Go is a _statically_ compiled language and dependencies are managed via `go mod` and `git` (at least in the mainline distribution, from the Golang authors). Nothing about how `lz4` is packaged in Fedora should have any effect on how `archiver` is packaged.

Go does have _e

[2020-10-28 02:23] coolaj86 commented on #255
@yene Are the proposed workarounds sufficient to close the issue?

[2020-10-28 02:30] coolaj86 commented on #250
@frankh Thanks for the report. This seems like a bug to me that should get fixed.

@mholt Can you confirm that this should be a fix in v3.x, or should this sort of change in behavior cause a bump to v4? And was this intended?

[2020-10-28 02:34] coolaj86 commented on #240
I think it would be okay to bump the minimum version, but it also sounds that perhaps we're fine to leave well-enough alone.

I'm going to close this out, noting that I'm still open for the alternate solution, but I don't consider it a priority.

[2020-10-28 02:34] #240 closed

[2020-10-28 08:11] rathann commented on #248
Because it's failing to build against the new `lz4`.

I know it has been statically compiled so far and this hasn't changed in Fedora. The issue is build dependencies (as obviously there are no runtime dependencies with static linking).

I know and Fedora Golang community is looking forward to this feature as it'll enable the desired packaging standard and let us release security and other bug fix

[2020-10-28 17:44] mholt commented on #250
Hmmm I think this is intentional: you're specifying a folder by name, the "bundle" folder -- the fact that it happens to be nested in two directories relative to the current path is irrelevant. In other words, it's intentional that the current environment including path is irrelevant to archiving specified files. The structure _within_ the specified folders is all that matters.

I am not sure how

[2020-10-28 17:53] coolaj86 commented on #250
Ah, I see. So `archiver` always operates as if it has the equivalent of `tar`s `-C`.

I think that's different from the common convention of how most other archive programs work, and it does make it difficult to specify a parent directory structure, but I can see how the existing behavior is rational.

[2020-10-28 18:05] mholt commented on #250
I always thought tar was confusing. Why does my current path make any difference as to how the archive is made? That's tedious. Just archive the files I specify.

IMO the simplest and most straightforward way to craft a custom archive structure is to literally just craft the structure on disk, then archive that folder.

[2020-10-28 18:24] coolaj86 commented on #250
I think it's because on a traditional Unix system you want to unpack things in a particular "FHS" style.

Anyway: Tomato, potato.

`archiver` is not `tar`. Closed.

[2020-10-28 18:24] #250 closed

[2020-10-30 03:18] coolaj86 commented on #248
`$GOROOT` is deprecated. Should be using `go mod` since go1.11.

For that sort of build process everything should be installed into a `vendor` folder in the package root and then should be built with `go build -mod=vendor`.

(cc/ @mholt this issue is a strong case for `go mod vendor`, IMO)

Well, that just makes me sad.

It defeats Go's inherent packaging and security practices. Go is not C and tr

[2020-10-30 03:27] #248 closed

[2020-10-30 18:13] mholt commented on #248
Vendoring dependencies is not something I'm willing to consider, as we did it with Caddy and it was a mess to manage and made the repo unbearably heavy for common, simple tasks. It also introduced bugs! That was fun.

I know one of the Fedora package maintainers and they're often more reasonable than Debian's ecosystem, but I'm not really sure I understand the problem here?

[code]

^ This is not

[2020-10-30 18:30] coolaj86 commented on #248
@mholt The Fedora repos don't use the standard Go tooling. They have their own custom dependency management system designed to emulates how C libraries work, which ignores go.mod.

Upgrading to `"github.com/pierrec/lz4/v4"` did not cause any of archiver's APIs to break, so I merged it in.

[2020-10-30 21:56] rathann commented on #248
@coolaj86 I'm not sure what you understood from my poorly informed description of Fedora Go packaging, but we do allow parallel installation of different major versions of Go packages. As far as I know the only custom thing is disabling automated code downloads during the build process. `go.mod` is not ignored.

@mholt The import path in the final patch is exactly as you proposed. Thanks for your

[2020-10-30 22:28] mholt commented on #248
The packagers and developers do tug at each other quite often in my experience, but we can figure it out and make it work... usually ;)

[2020-11-02 21:41] coolaj86 commented on #248
@rathann Just checking in: is everything working for you?

(friendliness may not one of my core values, but getting results is 👍 )

[2020-11-02 22:09] rathann commented on #248
@coolaj86 Yes, I've just built archiver 3.5.0 for Fedora 33 and development branch on all our arches and the tests pass. Thanks!

[2020-11-03 14:55] cliveseldon opened #259 "xi2 License Dependency"
This project as xi2/xz as a dependency

https://github.com/mholt/archiver/blob/25e050dbb4e3c591402916201098241bb661a2f7/go.mod#L14

However, that project has not used a standard license:

https://github.com/xi2/xz/blob/master/LICENSE

This is causing us problems with 3rd party open source dependency license validation. Is there any possibility of forking that library to republish it with a standar

[2020-11-03 18:09] mholt commented on #259
I hadn't noticed... are you really not able to use software in the public domain?

[2020-11-03 19:04] cliveseldon commented on #259
We are and our software is open source but unless a software project we use has a legally well known and clarified license it makes things less clear and harder to verify its status.

[2020-11-03 19:36] coolaj86 commented on #259
@mholt I think the problem is that "Public Domain" is not a license that can be detected with automated tooling.The MIT license et al can be automatically detected with tooling because they use exact phrases and wording.

[2020-11-03 20:41] cliveseldon commented on #259
Another issue is marketplaces such as Google accept a limited set of well established licences. By taking the approach of creating a custom license with "reasonable sounding" words makes it harder for these software projects to be accepted when scrutinized in strict environments. Its a shame as I am sure the xi2 project would probably be happy with MIT or Apache 2.0 wording.

[2020-11-07 21:12] im2kl opened #260 "LZ4 Dependency missing"
github.com/pierrec/lz4/v4

Package is no longer provided, break the archiver.

[2020-11-07 21:22] mholt commented on #260
Resolved already, discussion in https://github.com/mholt/archiver/issues/248

[2020-11-07 21:22] #260 closed

[2020-11-13 06:51] smile0304 opened #261 "Failed to decompress the file containing garbled code in MAC"
This file is a zip file compressed under Windows 10 (Simplified Chinese). I copied it to Mac and decompressed it. The following error occurred：
`reading file in zip archive: /Users/xx/test_demo/d9915c63-812c-6c9e-92fb-66dd7645dc0b/��������: making directory: mkdir /Users/xx/test_demo/d9915c63-812c-6c9e-92fb-66dd7645dc0b/��������: illegal byte sequence`

My test sample code:
[code]

Decompression f

[2020-11-14 02:42] d-Rickyy-b opened #262 "Absolute paths for files within tar archives"
## What would you like to have changed?

Ability to enable storing of files in tar archive with their absolute paths.

## Why is this feature a useful, necessary, and/or important addition to this project?

You might not want to archive every subdirectory within your crafted structure. So you might specify a more deeply nested directory but want to preserve higher directories (maybe even up to the

[2020-11-14 02:42] d-Rickyy-b commented on #250
Hi @mholt

You might not want to archive every subdirectory within your crafted structure. So you might specify a more deeply nested directory but want to preserve higher directories (maybe even up to the file system root) for restoring the files later on.

An example:

Imagine you are storing files in /home/rico/project/ and within that directory you have the following structure:
[code]

Now I'd

[2020-11-17 11:45] coolaj86 commented on #262
For the record: I actually agree with you, personally.

But as per the discussion in #250, we probably won't change the behavior.

However, I would like to know why you want to use `arc` rather than `tar` (or Go's native tar package) for this use case?

[2020-11-17 11:56] d-Rickyy-b commented on #262
Thanks for your comment. One reason why I want to use archiver is because it provides a **way** better API than the native tar package.
Another reason is, that I also wanted zip support. And archiver abstracts the different archive formats away. One package for multiple formats.

Actually I went with using the tar package for now, because it gives me the freedom to use absolute paths - but I would

[2020-11-18 11:49] danez opened #264 "How to set default options?"
I would like to set `StripComponents = 1` for all types which support it and use `archiver.Unarchive()`.

I cannot figure out how to change the default options though. First I tried doing `archiver.DefaultTar.StripComponents = 1`, but I see now that `Unarchive()` is always creating a new instance.

Is there a way to do it?

[2020-11-20 14:33] Jacalz opened #266 "Creat new file (or folder) if it already exists, instead of just returning an error"
## What would you like to have changed?

Currently, if the path to extract the zip file to already exists, the method will return an error. It is common in other software to add a number at the end to the filename and save it to the side of the save path. For example, saving the file for the first time it already exists, the file will be `filename(1)`, the next time `filename(2)` and so on.

The m

[2020-11-20 14:35] Jacalz commented on #266
My notes about this is specific to the zip unpacking. I don't know if it is an issue with other formats.

[2020-11-21 21:44] coolaj86 commented on #259
Having not heard anything back from the project's author, I created a fork with the LICENSE:

https://github.com/therootcompany/xz

Perhaps you could use the `replace` directive in `go.mod`?

[2020-11-30 14:39] pwntester opened #267 "Security Issue: Request for contact"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add

[2020-11-30 18:30] coolaj86 commented on #267
Please send to both of us:

- AJ ONeal <coolaj86@gmail.com>
- Matthew Holt <Matthew.Holt@gmail.com>

Thank you.

[2020-11-30 18:33] coolaj86 opened #268 "Add SECURITY.md"
As per #267 and [Adding a security policy to your repository](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository) we should add a `SECURITY.md` to the root of the repository.

I'd suggest that we follow the format of [security.txt](https://securitytxt.org/), perhaps modified for Markdown.

Contacts should be <aj@ther

[2020-12-04 05:13] #268 closed

[2020-12-09 03:39] jaskaranSM commented on #128
A ProgressCallback function would be better here (implemented in library). Something like https://godoc.org/github.com/itchio/sevenzip-go/sz#ExtractCallbackFuncs

[2020-12-13 22:44] Jacalz opened #271 "Readme incorrectly mentions not mitigating zip-slip attacks"
The README does specifically specify that this package doesn’t try to prevent zip-slip attacks due to various cross-platform issues and so on. However, looking at the current code and the various releases that have been made in the last couple of months, it looks to not be true any more. https://github.com/mholt/archiver/commit/8217ed3a206c0473b4ec1aff51375b398838073a

[2020-12-14 17:36] coolaj86 commented on #271
There's still an issue that we need to resolve. We need to defer symbolic links - like tar does. The existing mechanism can still be defeated.

[2020-12-22 11:05] Jacalz commented on #271
Ah, I see. Thank you for your explanation. I guess that https://github.com/mholt/archiver/pull/269 solves that issue? If so, it would be great to see that implemented :)

[2020-12-24 08:23] Or-Geva commented on #264
I have the same issue with `OverwriteExisting` which by default is false.

[2020-12-28 16:14] Kriechi commented on #146
I think I just run into the same issue.
I want to extract a single file into a destination directory:
`archiver.Extract("foo.zip", "some/foo/path/picture.jpg", "/home/user/Downloads")`.
I expect the final result to be a new file `/home/user/Downloads/picture.jpg`.
But instead I got `/home/user/Downloads/some/foo/path/picture.jpg`. I don't want all these subfolders.

However, this seems to work as

[2021-01-06 04:12] DeJoker opened #275 "archiver.Extract with archiver.Walk not support package with dir"
## What version of the package or command are you using?
v3.5.0  25e050d

## What are you trying to do?

I try a zip package with gbk encoding(not utf8), somehow archiver.Unarchive not unpack all files, because the nonutf8 name is same,so it with return err  "file already exists: xxx".
so, I try another way to extract it.

[code]

but it get nothing, the zip package is a dir contains the ppt file,

[2021-01-07 13:58] #261 closed

[2021-01-19 04:53] 89z commented on #53
@mholt this seems to do it:

[code]

https://github.com/bodgit/sevenzip

[2021-01-19 17:57] mholt commented on #53
Cool; looks like read-only currently, though.

[2021-01-19 18:18] 89z commented on #53
Looks like `bodgit/sevenzip` has an issue with some files, I havent had any problems with `saracen/go7z` though.

[2021-01-25 09:37] fahman opened #278 "Remove unconditional extention-check in library code"
## What would you like to have changed?
In all of the implementations of `Archiver` a hard-coded `CheckExt` is being invoked within `Archive` func. I propose removing this check from `Archive` and `Unarchive` and instead move it to the code that e.g. determines `Archiver` to be used. The operations of specific `Archiver` should not do any extension checking.

## Why is this feature a useful, neces

[2021-01-28 10:57] cpach commented on #227
Splitting Zip archives would also be useful. Mainly because in Windows, there is no good native tool for splitting archives.

[2021-02-05 03:26] 89z commented on #53
If anyone interested, I made my own package for extracting:

https://pkg.go.dev/github.com/89z/x/extract

It supports `7z`, even `7z` embedded in `exe`. Also supports `zip`, `tar.bz2`,
`tar.gz`, `tar.xz` and `tar.zst`.

[2021-02-09 14:09] stoiandan commented on #242
Hi, I'd like to take this one! :)

[2021-02-09 14:11] stoiandan commented on #242
I understand we need to make sure, the destination path is not a _symlink_, if it is, I guess we need to exit with an `error`. Maybe something like?:

[2021-02-09 22:53] tslocum commented on #242
@stoiandan I have submitted a fix for this issue as #269.

[2021-02-10 12:01] Jacalz commented on #266
This can easily enough be done by the developer and I think that this mostly would complicate the API. Going to close this as I have no interest in this specific feature as it stands.

[2021-02-10 12:01] #266 closed

[2021-02-10 12:05] Jacalz commented on #267
Has this issue been fixed? I can't see any mention of it sadly.

[2021-02-10 12:43] pwntester commented on #267
This issue was related with a ZipSlip vulnerability. According to the project README:

So I will close the issue

[2021-02-10 12:43] #267 closed

[2021-02-16 11:33] atsikham opened #279 "Exclude files by pattern"
## What would you like to have changed?

Currently there is only an ability (at least it's documented so) to specify files/directories to add into archive. Exclude some files from specified directories by pattern would be helpful.

## Why is this feature a useful, necessary, and/or important addition to this project?

My use-case is filtering logs with *.log extension out, but I'm sure there are a

[2021-02-17 22:11] nmiyake commented on #131
@mholt hi, was wondering whether you might have bandwidth to take a look at this sometime in the near future? I've run into a place where this would be helpful to have again. It's been a while since the PR and last update to the issue, but if you think you'd be able to take a look then I can iterate on it as needed.

[2021-03-11 14:25] nononsensecode commented on #279
There is also one use-case, when we want to exclude the .git directory

[2021-03-12 11:31] nononsensecode commented on #222
Any updates to this issue ?

[2021-03-16 18:54] bfirsh commented on #131
Thanks @nmiyake for your help here. I have made a branch that includes both #199 and #200, because I needed both in a project.

For folks reading this, it's a bit of a convoluted process to actually use the fork. Run `go get github.com/mholt/archiver/v3`, add then add this line to the end of `go.mod`:

    replace github.com/mholt/archiver/v3 => github.com/bfirsh/archiver/v3 reader-writer

Then, i

[2021-03-19 17:13] markkuit commented on #204
Facing the same scenario where it would be really handy to walk over archives from memory.

[2021-03-23 02:57] ivanduka opened #280 "Is there a way NOT to preserve file attributes?"
Hi, thanks for creating this tool!

I use it for database archiving, i.e. I generate SQL of a database and then archive it. In case there were no changes in the DB, the content of those files is the same (md5 hash is the same), but the creation, modification, and access time stamps are different. When I use archiver to create an archive, the archive checksum is different of course because of those

[2021-04-15 22:05] carolynvs commented on #280
I am really interested in this as well and am happy to submit a pull request if this is a feature you are interested in? Either separate options to let them control the file header info more: mode, uid, gid, uname, etc or something like "Deterministic" that just takes care of everything that needs to be omitted for you. Something similar to `gzip --no-name`.

[2021-04-16 16:37] mholt commented on #280
I've been a bit overwhelmed lately... Would anyone like to take up maintenance of this project?

[2021-04-18 12:50] sergeevabc commented on #170
Err… How do I use `-19 --long` switches of Zstandard here (as they increase the degree of compression)?

[2021-04-18 12:54] sergeevabc commented on #53
Well, 7-zip has become [available][1] from Linux since March 2021, let’s not fall behind.

[1] https://www.7-zip.org/download.html

[2021-04-18 13:02] sergeevabc commented on #163
Actually, I am here, because of the confusion caused by vague help message.
Where should I put `-level` in the following sequence to squeeze extra bytes and what levels are possible for `zip`?
[code]

[2021-04-19 00:40] coolaj86 commented on #53
7z is supported natively by the MacOS Finder as of Catalina... but not the CLI. However, you can get unxz via brew.

7z is worse than USB 3 - too many variations that aren't well standardized or supported.

It's also architecture dependent (meaning endianness sometimes matters). I investigated this heavily and was not able to find any reasonable cross-platform solution in Go, or otherwise.

I did

[2021-04-19 00:57] mcastrogg opened #282 "Is it possible to unrar a file from memory rather than having to write it to disk and pass it a file name?"
Hello, a bit new to go so apologies if i'm missing something obvious here. But is there a simple way to pass an ioReader containing a .rar to one of the functions and then init the Rar from the ioReader rather than having to pass it the file path?

Thanks.

[2021-04-19 21:37] mholt opened #283 "Seeking new maintainer(s)"
This library continues to be popular, but I haven't been able to allocate the time necessary to work on it. Like other of my open source projects, it has gone beyond the realm of "fun weekend project that only I use" to "numerous real world use cases relying on it" -- and my sponsorships are currently swaying me to work on Caddy projects.

I'm opening this up to others who would like to volunteer

[2021-04-19 22:41] coolaj86 commented on #283
I backed off while you were creating the new version and haven't really checked in in a while.

I'm also spread thin, but I'm willing to help.

[2021-04-27 07:17] kivutar opened #285 "tar.zst doesn't seem supported"
## What version of the package or command are you using?

I did a fresh `go get github.com/mholt/archiver/cmd/arc`

## What are you trying to do?

Compress a file to tar.zst

## What steps did you take?

 1. `go get github.com/mholt/archiver/cmd/arc`
 2. arc compress foo tar.zst
 3. `format unrecognized by filename: tar.zst`

## What did you expect to happen, and what actually happened instead?

I

[2021-05-29 13:31] chunu67 opened #286 "cannot find package "github.com/pierrec/lz4/v4" # The Version4 `v4`"
[main issue ](https://github.com//mholt/timeliner/issues/66)

[code]

[2021-07-12 04:21] rockli0724 opened #288 "Is there a performance test report"
Hi, thanks for creating this tool!
    I want to compress some large files and want to investigate the performance?
just like gin's benckmark data
[https://github.com/gin-gonic/gin/blob/master/BENCHMARKS.md](https://github.com/gin-gonic/gin/blob/master/BENCHMARKS.md)
![gin-benchmark](https://user-images.githubusercontent.com/13429774/125230594-a6f2af80-e30b-11eb-867c-a86b0066d069.png)
   thank you

[2021-07-12 04:39] mholt commented on #288
I don't know of one. Haven't really put much effort into optimizing this lib. You might be interested, instead, in a comparison of performance of the underlying compression libraries, for example: https://github.com/klauspost/compress

[2021-07-12 07:12] #288 closed

[2021-07-25 11:59] fiws opened #289 "extract is broken when extracting folders from zip (only creates folders)"
## What version of the package or command are you using?

arc v3.5.0 25e050dbb4e3c591402916201098241bb661a2f7 (2020-10-30T03:27:58Z)

## What are you trying to do?

Extracting a single directory from a zip file.

## What steps did you take?

### repro
[code]
### ls output
[code]

## What did you expect to happen, and what actually happened instead?

Should properly extract directory from archive,

[2021-07-25 18:17] alexppg commented on #210
I'd like to +1, just as a reminder.

[2021-08-02 07:05] rockli0724 opened #290 "How to deal with directory encoding format"
## What version of the package or command are you using?

version:  github.com/mholt/archiver/v3 v3.5.0
env: Win10 ,PC

## What are you trying to do?

I want to archive a directory to tar file, directory has  Chinese name sub_directory  and Chinese file like this
[code]

[code]

## What did you expect to happen, and what actually happened instead?
i want except format below
![tar_path_ok](https://

[2021-08-02 07:05] rockli0724 opened #291 "How to deal with directory encoding format"
## What version of the package or command are you using?

version:  github.com/mholt/archiver/v3 v3.5.0
env: Win10 ,PC

## What are you trying to do?

I want to archive a directory to tar file, directory has  Chinese name sub_directory  and Chinese file like this
[code]

[code]

## What did you expect to happen, and what actually happened instead?
i want except format below
![tar_path_ok](https://

[2021-08-02 07:06] #291 closed

[2021-08-02 07:06] rockli0724 commented on #291
duplicate

[2021-08-04 10:08] yanzhirong opened #292 "decompression rar file exception"
## What version of the package or command are you using?
v3.1.1

## What are you trying to do?
decompression rar file

## What steps did you take?
err := archiver.Unarchive(source, destination)

## What did you expect to happen, and what actually happened instead?
 expect to happen：decompression success
 actually happened instead：some rar file decompression error
error log：reading file in rar arch

[2021-08-04 19:38] mholt commented on #292
Thanks, but probably needs to be reported and fixed upstream in the rardecode repository: https://github.com/nwaples/rardecode/issues

[2021-08-04 19:38] #292 closed

[2021-08-31 10:36] benjamindean commented on #154
Any solutions on this one? I would like to avoid renaming files.

[2021-09-27 16:10] s3rj1k commented on #229
@mholt Any progress on that, also interested in context support.
@bkeroackdsc Care to share an example of work around?

[2021-09-28 22:27] bkeroackdsc commented on #229
@s3rj1k the [wrapper pattern](https://play.golang.org/p/5IbpIN_1XH8), for example

[2021-10-14 05:14] xwinie commented on #261
最后怎么解决的呢？

[2021-10-29 07:33] iotanbo opened #297 "Add Github Actions support"
## What would you like to have changed?
Add Github Actions for CI.

## Why is this feature a useful, necessary, and/or important addition to this project?
It's a powerful and relatively simple CI solution comparing to others.

Before creating PR, I'd like to discuss the following:

1. Changes on which branches should trigger build and running tests (I suggest all)?
2. Should there be 3 separate ba

[2021-10-30 17:13] #297 closed

[2021-10-30 17:13] mholt commented on #297
Thanks for the PR -- yeah, I think those are all fine, except I'd like to remove Azure. Thanks for doing that!

[2021-11-01 20:07] mholt commented on #202
Probably fixed in #296.

[2021-11-01 20:07] #202 closed

[2021-12-03 11:32] smeadows53 opened #301 "Since upgrading to mac monterey receiving "invalid header""
## What version of the package or command are you using?
3.5.1

## What are you trying to do?
unarchive tar.gz

## What steps did you take?
called  archiver.Unarchive returned err == invalid header

## What did you expect to happen, and what actually happened instead?
err == nil

## How do you think this should be fixed?
Yes

## Please link to any related issues, pull requests, and/or discussion

[2021-12-03 13:17] mholt commented on #301
Can you share exact steps to reproduce the issue and a sample file it reproduces with? I'll try to find a copy of macos Monterrey... (I dev on Linux)

[2021-12-20 15:39] pratikbalar commented on #285
I am getting
[code]

[2021-12-21 18:35] mholt commented on #285
@pratikbalar You need to initialize your TarZstd struct, look at the godoc for its embedded field.

[2021-12-30 00:30] mholt commented on #204
Currently working this (along with a bunch of other issues) as I write v4 of this library.

[2022-01-02 04:11] mholt commented on #118
During the holidays I took some time and completely rewrote this library in #302 and am preparing to merge and tag v4. In v4, all archive and compression formats can match by their file headers (by reading from the stream).

[2022-01-02 04:11] #118 closed

[2022-01-02 04:13] mholt commented on #128
During the holidays I took some time and completely rewrote this library in #302 and am preparing to merge and tag v4. I gave this issue a lot of thought, and realized there's lots of ways to count progress and I'm not sure there's any one good answer. Fortunately, in v4, all the core APIs are stream-oriented/ so you can emit progress yourself. For example, to count bytes, I whipped up this gem:

[2022-01-02 04:13] #128 closed

[2022-01-02 04:20] mholt commented on #131
During the holidays I took some time and completely rewrote this library in #302 and am preparing to merge and tag it as v4. The new core APIs are completely stream-oriented, so I believe that should resolve this issue.

[2022-01-02 04:20] #131 closed

[2022-01-02 04:21] mholt commented on #136
During the holidays I took some time and completely rewrote this library in #302 and am preparing to merge and tag v4. The new core APIs are completely stream-oriented and I believe issues with file placement in archives should be solved. We can reopen this if it is still an issue though.

[2022-01-02 04:21] #136 closed

[2022-01-02 04:28] mholt commented on #141
During the holidays I took some time and completely rewrote this library in #302 and am preparing to merge and tag v4. In v4, the core APIs don't care about filenames except for optional matching with a format type, and I believe this issue should be solved.

[2022-01-02 05:12] mholt commented on #146
During the holidays I took some time and completely rewrote this library in #302 and am preparing to merge and tag v4. The new APIs let you choose precisely how to handle each extracted file by not presuming anything at all; you just give it a callback function that does what you want with it. Please check it out and let me know if you have any feedback!

[2022-01-02 05:12] #146 closed

[2022-01-02 05:12] #141 closed

[2022-01-02 05:33] mholt commented on #150
During the holidays I took some time and completely rewrote this library in #302 and am preparing to merge and tag v4. In v4, the core APIs are entirely stream-oriented (like v2, but way better) and should resolve the file name restoration issue as well. Please check it out and let me know if you have any feedback. If this issue persists we can reopen it. Thanks!

[2022-01-02 05:33] #150 closed

[2022-01-02 05:34] mholt commented on #148
I like that idea, and perhaps the tests for v4 (currently in #302 but not sure when I'll get around to adding the tests yet) can adopt this.

[2022-01-02 05:34] #225 closed

[2022-01-02 05:55] mholt commented on #227
I believe the PR #302, which will soon become v4.0, may resolve this issue, because the new core APIs are entirely stream-oriented. So you'll provide a writer that, upon writing a number of bytes, switches files. I think something like that could work. If it doesn't, we can reopen this issue and discuss another solution.

[2022-01-02 05:55] #227 closed

[2022-01-02 08:34] mholt commented on #157
This is tricky because that error message comes from Windows. Who are we to say it's wrong? 😕

Anyway, I don't really know what to do about it... and #302 (which will be v4.0) will not write directly to the disk, at least not in the core APIs. (Maybe some convenience or API functions will in the future.)

Thanks for raising the issue, but will close it as it might be obsoleted soon. Can continue d

[2022-01-02 08:34] #157 closed

[2022-01-02 08:37] mholt commented on #159
Closing, as we have some parallel compression implemented now thanks to @klauspost. And ultimately I think the multicore stuff would have to be implemented in other repos anyway, rather than this one. If there's a specific request to parallelize something in this repo, we can either reopen this issue or make a new issue for it. Thanks!

[2022-01-02 08:37] #159 closed

[2022-01-02 08:41] mholt commented on #164
I think #302, which will soon become v4 of this package, allows this because every file that you walk can be handled with an arbitrary callback function, and that function could be simply starting another walk. I rewrote the entire thing and got rid of the reliance on file extensions as well (except for optionally matching unknown files to formats, which can use extension or peeking the stream, or

[2022-01-02 08:41] #164 closed

[2022-01-02 08:45] mholt commented on #180
#302 effectively uses this "plugin" (or "format") registration system, which will become v4 of this package. While the Go module still has the dependencies of the various formats, we can in theory move them into separate packages or modules now if we wanted to. I just don't know if I'm motivated to go to all the work to separate them all out, and then have users import each one they want individua

[2022-01-02 08:45] #180 closed

[2022-01-02 08:48] mholt commented on #184
Thanks for pointing this out. I'm not sure what good reporting the error from closing will do though, especially if there's another error already. If it fails to close, you can't really do anything about it; and if there's another error, you have to choose which one to report. The close errors seem less important.

I'm open to the suggested fix, but it'll have to be contributed on top of #302, may

[2022-01-02 08:48] mholt commented on #194
If it is in fact same as zip, then @JalonSolov is right, and this is now implemented in #302, which will become v4 of this package.

[2022-01-02 08:48] #194 closed

[2022-01-02 08:50] mholt commented on #204
#302 fixes this, as the core APIs have been completely rewritten and are entirely stream-based. Please try it out and let me know if you have any feedback!

[2022-01-02 08:50] #204 closed

[2022-01-02 08:54] mholt commented on #209
In #302 I rewrote the entire library which will soon become v4. The new design is stream-based, and none of the core APIs write to the disk, so zip bomb isn't really relevant anymore.

If you're concerned about this, I suppose there are several forms to mitigate against, and that involves probably keeping track of writes as you write to disk.

[2022-01-02 08:54] #209 closed

[2022-01-02 08:57] mholt commented on #210
#302 will become v4 of this repo, which will probably be the next tag. I haven't tested hard links with it yet, would someone be willing to try it out? Would help make sure it is still fixed in the new version faster. :)

[2022-01-02 08:59] mholt commented on #212
Thanks for contributing a patch!

I've completely rewritten this library with some much needed improvements in #302, which will become v4 of this package. The new core APIs no longer write to disk, so this issue becomes irrelevant, as it is currently up to the user to write streams to disk in the way they want to. Maybe in the future there will be some helper functions or CLI commands to do this,

[2022-01-02 08:59] #212 closed

[2022-01-02 09:00] #213 closed

[2022-01-02 09:02] mholt commented on #214
Sorry I never replied to this... was really busy writing Caddy 2 at the time.

I've completely rewritten this package in #302, which will probably become v4. The file abstraction is similar, though, with a `NameInArchive` field. Hopefully the godoc is more descriptive/helpful there. Let me know if it's not, and if you have any further questions!

[2022-01-02 09:02] #214 closed

[2022-01-02 09:04] mholt commented on #216
Hi, sorry I never replied to this. I was busy writing Caddy 2 at the time.

I've completely rewritten this package in #302, which has new APIs that do exactly what you want: to be able to specify a custom structure for the archives and their mappings to the paths on disk. You can explicitly list each and every file, or add a whole directory. If you still need this, give it a try and let me know yo

[2022-01-02 09:04] #216 closed

[2022-01-02 09:04] mholt commented on #229
Done in #302, the v4 rewrite.

[2022-01-02 09:04] #229 closed

[2022-01-02 09:05] mholt commented on #232
Done, thanks!

[2022-01-02 09:05] #232 closed

[2022-01-02 09:06] mholt commented on #255
This has been implemented for all formats in #302, which will become v4 soon. Please give it a try and let me know your thoughts!

[2022-01-02 09:06] #255 closed

[2022-01-02 09:13] mholt commented on #262
This is fixed in #302, where you specify the mapping of file paths on disk to the file paths in the archive when you create the archive. Please check it out! :) We can reopen this issue if it is still unresolved or needs more discussion.

[2022-01-02 09:13] #262 closed

[2022-01-02 09:15] mholt commented on #285
This will be fixed by #302 (albeit the command has yet to be implemented, but the whole package has been rewritten so this won't be a problem).

[2022-01-02 09:15] #285 closed

[2022-01-02 09:16] mholt commented on #278
It's your lucky day, #302 does this. I completely redesigned this package and its core APIs don't rely on the file extension anymore (except for an optional `Identify()` function that can optionally use the file extension -- or the stream contents directly -- to match formats). That PR will become the basis for v4. Please try it out!

[2022-01-02 09:16] #278 closed

[2022-01-02 09:17] mholt commented on #280
Is this wanted for the command line tool or the core library?

Because the core library has been completely rewritten in #302 and probably allows you to do what you want. The new CLI could certainly honor that.

[2022-01-02 09:18] mholt commented on #279
We can probably find a way to work this into #302, which is a complete rewrite of this package and destined to become v4.

[2022-01-02 09:19] mholt commented on #282
There is now! That is what #302 does, which is a complete rewrite of this package and will become v4.

[2022-01-02 09:19] #282 closed

[2022-01-02 09:27] mholt commented on #259
Fixed in #302.

Tried using a `replace` directive but got this error:

[code]

so I had to just swap it out entirely, nbd. Thanks!

[2022-01-02 09:27] #259 closed

[2022-01-02 09:27] #235 closed

[2022-01-02 09:28] mholt commented on #283
I found a new burst of energy for this repo, so I'm giving it some love again, mainly with #302.

Thanks for helping, AJ!  :+1:

[2022-01-02 09:28] #283 closed

[2022-01-02 09:29] mholt commented on #286
Seems to not be a problem anymore :thinking: Working fine here.

[2022-01-02 09:29] #286 closed

[2022-01-02 09:43] mholt commented on #130
I think this is implemented in #302, as NameInArchive, if I understand correctly.

[2022-01-02 09:45] mholt commented on #250
#302, a complete rewrite for the upcoming v4 tag, will let you specify exact file paths you want for each file in your archive.

[2022-01-02 13:45] lissyx commented on #212
Thanks, unfortunately I've moved topics and i dont depend on that anymore so i cant really continue to discuss that 😊

[2022-01-02 17:07] mholt commented on #275
I rewrote this package in #302, and it gives the ability to archive and extract precisely how you want to, including with full path, so I think this is resolved. :)

[2022-01-02 17:07] #275 closed

[2022-01-02 18:47] mholt commented on #147
@zxdvd Thank you very much for the contribution, I learned something new from it. Sorry I didn't get around to it for a couple years. I implemented your change in #302 which is a complete library rewrite, and gave you credit in the code and in the commit. Thanks again for contributing

[2022-01-02 18:47] #147 closed

[2022-01-02 18:56] mholt commented on #290
If you use `archiver.Unarchive()` does it have the same result as the screenshot? It might depend on the unarchiver program you use.

[2022-01-04 19:15] mholt commented on #228
We can fix this with the command for v4.

[2022-01-04 19:30] mholt commented on #264
This can be done with the v4 rewrite introduced in #302.

[2022-01-04 19:30] #264 closed

[2022-01-08 19:12] korpa opened #303 "Dereference symlinks flag for FilesFromDisk"
## What would you like to have changed?

Instead of adding the symlink into archive, it should add the content of the target file of the symlink if the flag is set. Similar to https://www.gnu.org/software/tar/manual/html_node/dereference.html

[2022-01-08 19:45] mholt commented on #303
Thanks for the request. I don't think anything needs to change about `Archive()`'s signature to do what you want. All `Archive()` does is create an archive with the files in the list. To dereference symlinks, don't create a `File` with a `FileInfo` that sets the SymLink flag and has `LinkTarget` set. Instead, create a `File` with an `Open` func set and `LinkTarget` unset/empty.

Does that make sen

[2022-01-08 20:01] korpa commented on #303
I'm not sure if I understand what you mean. Currently I use `archiver.FilesFromDisk` so I haven't touched any functions you mention, yet. I will have a look at at your proposal and try to understand.

On the other hand, maybe it would make sense to add a dereference flag to `FilesFromDisk`.

[2022-01-08 20:12] korpa commented on #303
I had a look at `FilesFromDisk` and now got what you mean.

I could implement my own `FilesFromDisk`, but I think a dereference option would be a good fit in the official `FilesFromDisk` function.
What do you think?

[2022-01-08 20:48] mholt commented on #303
Ah, yeah, that's a totally separate function from what was mentioned originally.

Maybe it would make sense for that function to take options. I'm mobile right now but we could discuss a few ideas. 👍

[2022-01-08 21:19] korpa commented on #303
I added a pull request but I'm not sure if it is the best solution. Let's discuss.

[2022-01-10 06:27] xwinie opened #306 "请问支持分片压缩和分片解压吗？文档没看到"
## What would you like to have changed?

## Why is this feature a useful, necessary, and/or important addition to this project?

## What alternatives are there, or what are you doing in the meantime to work around the lack of this feature?

## Please link to any relevant issues, pull requests, or other discussions.

[2022-01-10 06:31] mholt commented on #306
I don't know what you mean by "fragment compression" exactly. (And sorry I don't know Chinese, I only could use Google Translate.)

This package supports compressing and decompressing streams, if that answers your question.

[2022-01-10 06:31] #306 closed

[2022-01-11 09:30] tgulacsi opened #307 "v4:"
Please include lines https://github.com/mholt/archiver/blob/10c5080fa78f78d10e28abdf11fa6d4abb7f999f/fs.go#L40 - https://github.com/mholt/archiver/blob/10c5080fa78f78d10e28abdf11fa6d4abb7f999f/fs.go#L53 as an example for library use (handle archive as an io.FS) - it took me an hour to find out how to do it, and it is essentially VERY easy, but this information was hard to find.

[2022-01-11 09:40] tgulacsi commented on #207
rardecode documentation says "NewReader only supports single volume archives. Multi-volume archives must use OpenReader. "

Rar.Extract *may* use OpenReader iff `sourceArchive.(interface {Name()string})` with that Name(), and that file exists, but this seems to be an ugly hack.
Or use it when it encounters this error...

[2022-01-11 16:53] mholt commented on #307
Good question, so you're basically looking for an example of how to use `Identify()` -- isn't that basically what is already here? https://github.com/mholt/archiver#identifying-formats

[2022-01-11 17:52] tgulacsi commented on #307
Ok, I revise my thinking, and now I don't see an easy way to create an ArchiveFS for an in-memory io.ReadSeeker.
Which is strange, as ArchiveFS have everything, just needs a File member, and use that if not empty, and work as now if it is.
It has a lot of nice logic, that would be a shame to have duplicated several times...

[2022-01-11 17:58] mholt commented on #307
A file system over a stream? Like [I asked on Twitter](https://twitter.com/mholt6/status/1480271696338698241), I'm not sure how that would work. Can you explain how it would work and what it should do?

[2022-01-11 18:46] mholt commented on #307
Couple of random thoughts...

- The zip format can't use io.Reader, it needs io.ReaderAt, which is not part of the io.ReadSeeker interface. We already kind of hedge this by returning an error from Extract() if the input is not an io.ReaderAt and an io.Seeker. The interfaces are, unfortunately, disjoint.
- I could maybe see a FS that works on a stream only if all the operations are mutex'ed - can't

[2022-01-11 19:10] tgulacsi commented on #307
I have an io.SectionReader (over []byte of memory (maybe mmap'd)), which is an io.ReadSeekCloser and can create a SectionReader of it easily.

Maybe a `GetReader func() (io.ReadSeekCloser, error)` (like net/http.Request.GetBody) that is just `os.Open(a.Path)` if nil ?

[2022-01-11 19:22] mholt commented on #307
Hmm, I'm not sure if that gets us around the mutex requirements; and we might as well just have a field on the struct that lets you specify the stream directly rather than a path on disk from which to create the stream for you.

Will think on this and maybe try some things when I have a chance, and get back about it.

[2022-01-11 22:19] mholt commented on #242
Thank you for the patch, @tslocum -- however, it's been a long time and v4 no longer has this issue, so, closing. (Could be relevant again if/when v4 gets a command.)

[2022-01-11 22:19] #242 closed

[2022-01-12 08:35] caiziqi33 opened #308 "If rar file has child same name dir,what can i do"
## What did you expect to happen, and what actually happened instead?

Unarchive is error：/xx/xx/xx/xx/xxxx.rar reading file in rar archive: /xx/xx/xx/xx//xxxx: creating new file: open  /xx/xx/xx/xx//xxxx: is a directory

[2022-01-12 12:13] pashifika opened #309 "v4 archiver.Zip.Extract can not read all bytes"
## What version of the package or command are you using?

v4
0448c6dfcbabd47dc669263b1d1763f8afb4093b + https://github.com/pashifika/archiver/commits/master

## What are you trying to do?

use Virtual file systems to get all image file bytes.

My code:
![image](https://user-images.githubusercontent.com/11887000/149137522-e3d00c79-5dd3-4df2-9062-106251d30fa8.png)

I want to read all bytes from each

[2022-01-12 15:01] pashifika commented on #309
@mholt
Can you fix this bug? I tried it myself, but I couldn't get a clue, your code is too complicated.

[2022-01-12 18:48] mholt commented on #308
Unfortunately there's not enough information here to help you :( Please don't skip/remove questions.

[2022-01-12 18:48] #308 closed

[2022-01-12 19:59] mholt commented on #309
I would like to reproduce the bug, but I can't execute screenshots.

If you eliminate the concurrency, do you get the results you expect?

[2022-01-13 00:14] pashifika commented on #309
@mholt
[code]

this is a bug zip file, you can see that the last 10bytes of the first file is empty
[images.zip](https://github.com/mholt/archiver/files/7858740/images.zip)

OS: Windows 11 Pro for Workstations 22000.376
Go: go version go1.17.6 windows/amd64

[code]

[2022-01-13 01:07] mholt commented on #309
@pashifika Thanks for distilling that down. Now I see an obvious potential bug in your code. `_, err = af.Read(bytes)` is not guaranteed to read any or all bytes. Make sure you read the docs for `io.Reader`: https://pkg.go.dev/io#Reader

You may want to use `io.Copy()` or `io.ReadFull()` instead.

[2022-01-13 01:50] pashifika commented on #309
@mholt

I'm sorry to bother you for many times. Is it a bug that the same file appears twice when reading rar file or do I need to write filters to eliminate it?
![image](https://user-images.githubusercontent.com/11887000/149251169-81fbe90f-0ac3-4b5e-b00a-38107f4bb908.png)

[2022-01-13 02:49] pashifika commented on #309
@mholt
WinRAR 6.0.2(64 bit)
[images.rar.zip(Please rename to images.rar)](https://github.com/mholt/archiver/files/7859453/images.rar.zip)

thanks.

[2022-01-13 17:57] mholt commented on #309
I _assume_ the contents are flat within the `images` subfolder?

[code]

If so, it works for me. There must be a bug in your code.

[code]

[2022-01-13 17:57] #309 closed

[2022-01-13 23:54] pashifika opened #310 "v4 rar file bug in Virtual file systems"
## What version of the package or command are you using?

v4.0.0-alpha.2

## What are you trying to do?

1. Extract rar file

no bug code:
[code]

duplicate file bug:
[code]

bug output:
[code]

Windows and MAC can reproduce it:
![image](https://user-images.githubusercontent.com/11887000/149427974-e1bcd719-6eeb-48cd-b48f-c0c136123bd7.png)
![image](https://user-images.githubusercontent.com/11887000

[2022-01-14 00:36] mholt commented on #310
Thank you for this, will take a closer look soon. Am just heading out for the evening.

[2022-01-14 06:04] mholt commented on #310
I was able to confirm the bug, I think I have a hunch as to what is causing it.

Also, I appreciate the minimal use case to reproduce the bug, it made that very easy this time. Thanks.

[2022-01-14 06:34] mholt commented on #310
It's weird, for some reason your .rar file lists the files first (depth-first) instead of the folders containing them (breadth-first).

[2022-01-14 06:42] pashifika commented on #310
I think the easiest way is to check for duplicates with map?

[2022-01-14 06:46] mholt commented on #310
I thought of that, but I think it's better to compare file prefixes when traversing, to make sure we're not going into subfolders when we shouldn't be. This should avoid expending memory.

[2022-01-14 07:00] #310 closed

[2022-01-14 07:01] mholt commented on #310
@pashifika I pushed a couple of commits that should resolve the issue. One eliminates the weird repeated directory name ("images/images/...") and another fixes the listing of directories when archives are created depth-first.

Thanks again for the reports. Please continue to paste code as text instead of screenshots in the future :)

[2022-01-15 17:01] mholt commented on #290
Should be fixed in v4; see #305 and specifically f9ab7f5c4a302b4d9e86dfddbf4ee56f03d2b9d2

[2022-01-15 17:01] #290 closed

[2022-01-15 17:02] mholt commented on #279
One option in v4 is to use `FilesFromDisk()` and then simply remove the files you don't want from the resulting slice. :man_shrugging:

We can reopen this if needed, but I think that'll work fine unless there's a use case not covered sufficiently by that solution.

[2022-01-15 17:02] #279 closed

[2022-01-15 17:04] mholt commented on #271
Closing, as zip-slip isn't relevant in v4 (as it does not write to disk) -- that may change if/when the command is reimplemented around the v4 APIs, but we can deal with that then if that's the case.

[2022-01-15 17:04] #271 closed

[2022-01-15 17:06] mholt commented on #301
Closing due to inactivity.

(Would also be curious if this happens with Archiver v4.)

[2022-01-15 17:06] #301 closed

[2022-01-15 17:10] mholt commented on #307
@tgulacsi Can you tell me, how would Open() work? ReadDir()? Stat()? If all we have is a ReadSeeker, how do we know where to seek to in order to open a file, how to read directories, and what does a FileInfo from a stream only look like?

[2022-01-15 17:17] mholt commented on #307
Ok, so thinking on this more, maybe ArchiveFS could have a field called `Stream io.ReadSeeker` that, if set, will just use that as the archive's input stream, rather than calling `os.Open()` on the `Path` field. While that _might_ work, I'm wondering what the actual utility of this is.

If you already have a stream of the archive, and you know its type/format, then why not call the `Extract()` met

[2022-01-15 17:22] mholt commented on #307
@tgulacsi I don't know if this is what you have in mind, but I pushed a quick, spikey implementation to https://github.com/mholt/archiver/tree/archivefs-stream just for fun.

Note that I haven't tested it at all, and it's not safe for concurrent use. Basically set `Stream` instead of `Path`. But don't try to access `.` as that won't work (since there's no top-level file this time).

Is that what y

[2022-01-15 18:41] tgulacsi commented on #307
https://github.com/mholt/archiver/issues/307#issuecomment-1010286266 : An io.ReaderAt wouldn't require mutexes at all.

https://github.com/mholt/archiver/issues/307#issuecomment-1013719124 :
"While that might work, I'm wondering what the actual utility of this is."
io.FS gives us the ability write an extractor, zipper, walker, copier, reader etc *once*, and use it on anything that implements io.FS

[2022-01-15 21:23] mholt commented on #307
Why doesn't a ReaderAt require mutexes? 🤔  Not saying you're wrong, I just don't have much experience with the type.

Hmm, so you have an embed.FS that opens a zip file? That's fine, but I still don't see why you wouldn't want to use Extract since the FS is already implemented for you by package embed.

[2022-01-16 07:34] #303 closed

[2022-01-16 07:36] mholt commented on #184
Thinking more on this, I'm not sure what we'd really do with errors from Close(). It's not like you can fix the archive...

Closing this issue. If that is an error (heh), please let me know more information (what are the specific errors you're getting from Close(), what can I do to reproduce the problem, and why is it causing a problem for you / what should be done). Thanks!

[2022-01-16 07:36] #184 closed

[2022-01-17 04:28] mholt commented on #307
Nevermind, I just found this in the docs:

[ReaderAt docs](https://pkg.go.dev/io#ReaderAt)

I hadn't known that / noticed that before. Very cool.

Anyway, what do you think of the implementation on the archivefs-stream branch?

[2022-01-17 05:49] premist opened #311 "Easier unarchiving support with v4?"
Hello, thanks for the awesome library. The new version is fantastic since I can use it in conjunction with other network libraries to stream HTTP response right into unarchiving process.

I'm using archiver on Google Cloud Storage caching library for GitHub Actions, and while archiving files was [super easy](https://github.com/shakrmedia/gcs-cacher/blob/minku/include-symlink/cacher/cacher.go#L138)

[2022-01-17 06:06] mholt commented on #311
Well, unarchiving is quite problematic. The vast majority of issues in v3 and earlier were related to edge cases and security reports, and I was getting hounded by security "researchers" who didn't do their due diligence in the first place. It's true that v3's unarchiving behavior was susceptible to certain attacks from untrusted archive files, but given that no satisfactory solution was presented

[2022-01-17 06:08] tgulacsi commented on #307
https://github.com/mholt/archiver/issues/307#issuecomment-1014131073 : archivefs-stream is what I'm here for, but with a io.ReaderAt instead of io.ReadSeeker :)

[2022-01-17 06:12] mholt commented on #307
It's so awkward that ReaderAt is not also a Reader. :(

I'll have to give this more thought, since most APIs require a Reader.

You said you could use SectionReader too, right? Would that be acceptable instead of ReaderAt?

[2022-01-17 07:19] tgulacsi commented on #307
`ReaderAt + Size <=> *io.SectionReader`.
For aesthetics, I prefer the interface (ReaderAt), but for usability, I think `*io.SectionReader` is better (one variable, neither you forget to check both f.Stream and f.StreamSize, nor the users forget to set both).

So yes, `*io.SectionReader` totally does it - just each time you need to pass an io.Reader, you have to create a new *io.SectionReader (`io.

[2022-01-18 06:32] mholt commented on #307
@tgulacsi Ok, that makes more sense. Thanks. I pushed the io.SectionReader change to that branch. Want to give it a try? I have not tested it.

[2022-01-20 12:20] seizmo opened #313 "Windows path handling (tar.gz, probably others, too)"
## What version of the package or command are you using?

v4 lastest (d777df9)

## What are you trying to do?
Create a tar.gz file under windows.

## What steps did you take?
[code]

## What did you expect to happen, and what actually happened instead?
Opening the file with 7-zip should extract to the same directory structure of the original files

## How do you think this should be fixed?

https:

[2022-01-20 22:16] mholt commented on #313
Thanks; I don't have Windows to test this. Can you give more information? What exactly is broken? What is in the created archive?

[2022-01-21 14:34] seizmo commented on #313
The problem seems to be that the Windows backlash is not removed/replaced with slashes but included in the archive entries in escaped form:
[code]
This is what I get if I unpack that file on Linux (using `tar xzvf`)

[2022-01-21 17:20] mholt commented on #313
Ah, indeed, `path.Join()` calls `path.Clean()` which does NOT call `ToSlash()`. Only `filepath.Join()` calls `filepath.Clean()` which DOES call `FromSlash()`. :roll_eyes:  I get why, but that was a silly oversight on my part.

Can you test what I push to a branch? (Until I have a chance to write actual automated tests, heh. Just been busy lately.)

[2022-01-21 18:07] mholt commented on #280
Ok, I made a pull request that _should_ do what you need, but only you can really determine if it works for your use case. @carolynvs @vdice @ivanduka Can you please give the branch in #280 a try?

[2022-01-21 19:28] seizmo commented on #313
I changed the two lines and it worked for me on Windows with Go 1.18. 7zip on windows now also opens and extracts the archive to a Windows folder with correctly named files.

Thanks a lot!

[2022-01-21 19:46] #313 closed

[2022-01-21 19:46] mholt commented on #313
Great, thanks for confirming!

[2022-01-21 23:24] mholt commented on #289
This is probably (?) not relevant in v4, but if it turns out to still be a problem, let me know and we can re-open this.

[2022-01-21 23:24] #289 closed

[2022-01-25 23:23] #280 closed

[2022-01-25 23:23] mholt commented on #280
Done in #280 - thanks

[2022-01-26 16:35] mholt commented on #228
As I don't have plans/time to make a command for v4 (unless sponsorships motivate it specifically), I'll close this issue; but I've labeled it with "command" so we can remember this if someone does end up contributing a command later. Thanks!

[2022-01-26 16:35] #228 closed

[2022-01-26 16:35] mholt commented on #174
The command help could have definitely been improved.

As I don't have plans/time to make a command for v4 (unless sponsorships motivate it specifically), I'll close this issue; but I've labeled it with "command" so we can remember this if someone does end up contributing a command later. Thanks!

[2022-01-26 16:35] #174 closed

[2022-01-26 16:35] mholt commented on #163
As I don't have plans/time to make a command for v4 (unless sponsorships motivate it specifically), I'll close this issue; but I've labeled it with "command" so we can remember this if someone does end up contributing a command later. Thanks!

[2022-01-26 16:35] #163 closed

[2022-01-26 16:36] mholt commented on #156
This would be cool, yeah.

However, as I don't have plans/time to make a command for v4 (unless sponsorships motivate it specifically), I'll close this issue; but I've labeled it with "command" so we can remember this if someone does end up contributing a command later. Thanks!

[2022-01-26 16:36] #156 closed

[2022-01-27 23:29] jhwz opened #317 "Brotli identification inconsistent"
## What version of the package or command are you using?
v4.0.0-alpha.4

## What are you trying to do?
Open a `.br` file and read its contents through the Identify API

## What steps did you take?

Here's a reproduction with a test file containing the given text that was compressed via a `brotli` CLI tool
[code]

## What did you expect to happen, and what actually happened instead?
File should be

[2022-01-27 23:33] jhwz commented on #317
Ah interesting I'm finding a related issue with `.bz2` files sometimes:

```matching zip: bzip2: corrupted input: invalid stream magic```

[2022-01-28 12:06] xwinie opened #318 "请问支持分卷压缩吗？"
## Introduce the format you are requesting.

## What do YOU use this format for?

## What is the format's conventional file extension(s)?

## Please link to the format's formal or official specification(s).

## Which Go libraries could be used to implement this format?

[2022-01-29 18:29] mholt commented on #318
No, this library does not support volume compression (unless the volume can be represented as a stream).

[2022-01-29 18:29] #318 closed

[2022-01-29 18:44] mholt commented on #317
That's very odd/interesting!...

Map iteration might be one factor, yes; we also do some stream seeking to be able to read from the beginning multiple times. (If that turns out to be problematic, another way to do that is to read the beginning of the stream and buffer it, then replace the input stream with a MultiReader that first reads from the buffer, then from the remaining stream... but that's

[2022-01-29 21:53] jhwz commented on #317
I'll add one soon but have a look first! If I can help and save you a bit of time then that would be ideal.

One nice thing about the buffering/multireader approach is that you would be able to support just io.Readers and wouldn't require the Seek method. Would be a bit more complex but would also be convenient! Maybe you could guarantee the returned reader will always keep reading from the same p

[2022-01-29 22:04] mholt commented on #317
Yeah, that's also appealing. That's the approach I take in [Caddy's layer 4 module](https://github.com/mholt/caddy-l4) which previews the stream to do some matching logic and it seems to work well. But that API also is better about wrapping streams and using buffers and stuff. We can make any changes we need to in our API to accommodate, since it's still pre-release alpha versions.

[2022-01-30 16:30] mholt commented on #53
Thanks AJ. Closing this issue for now, as it seems there aren't great pure-Go solutions for 7z. Feel free to continue discussion and we can reopen when/if this becomes feasible.

[2022-02-11 09:01] luxcgo opened #321 "Add compressed file to existent archive file"
## What would you like to have changed?
I wonder if it supports to add a new compressed file to for example a bz2 file that already exists.

## Why is this feature a useful, necessary, and/or important addition to this project?
Don't want to create a new bz2 file.

## Please link to any relevant issues, pull requests, or other discussions.
Similar request: https://unix.stackexchange.com/questions/

[2022-02-11 20:26] mholt commented on #321
You want to add a .bz2 file to an existing archive file?

Or you want to add an existing file to an archive file compressed with bz2?

I'm confused.

But if you want to add a file to an existing _compressed_ tar file (like tar.gz) then you can't really do that without creating a new one. (I actually found the same post on Unix Stack Exchange when I was writing this lib.)

Closing, as I don't think

[2022-02-11 20:26] #321 closed

[2022-02-16 21:03] petemoore commented on #213
This seems to be fixed now. Not sure why there isn't a v3.5.1 binary release, but using the v3.5.0 the archive now extracts correctly:

[code]

I haven't tried with v4 of archiver.

[2022-02-19 15:43] nicola-spb opened #323 "Seek() in archive file"
Hello,

When i walking in archive I have fs.File (without Seek()). How can I get ReadSeeker interface of it?
[code]

Thanks

[2022-02-19 21:34] mholt commented on #323
I don't think the underlying archive format implementations (tar, zip, etc) give us `Seek()`, sorry.

It does seem like that should be able to work when dealing with regular files on disk, but this might be a feature request more for the standard library (or whatever package implements the underlying archive format).

Will close this, but feel free to continue discussion. I could very well be wron

[2022-02-19 21:34] #323 closed

[2022-03-09 16:10] Integralist opened #325 "Nondeterministic error reading `.tar.gz` (reaches `go test` timeout)"
## What version of the package or command are you using?
`v3.5.1`

## What are you trying to do?
Read a `.tar.gz` file and check that specific files are contained within it.

## What steps did you take?
You can find a copy of the archive file here: https://github.com/fastly/cli/blob/main/pkg/commands/compute/testdata/deploy/pkg/package.tar.gz

Here is the code that attempts to validate the file:
h

[2022-03-09 17:05] mholt commented on #325
Hmm, have you considered opening this issue in the pgzip repository? I don't know anything about pgzip's internals. (Nor am I really maintaining Archiver v3 anymore, as v4 is in beta now.)

But thanks for the good repro steps, I'm sure they'll be useful to the right person to help troubleshoot!

[2022-03-09 17:23] #325 closed

[2022-03-09 17:27] mholt commented on #325
Thanks. Keep me posted, if it affects archiver v4 I will want to make necessary changes. Klaus is brilliant and really great about responding so with your test case I'm not too worried!

[2022-03-10 13:02] dcermak opened #326 "v4: archiver.FileSystem is substantially slower than Extract() when walking the file system"
## What version of the package or command are you using?

`github.com/mholt/archiver/v4 v4.0.0-alpha.5`

## What are you trying to do?

I would like to walk all files in an archive and retrieve their file sizes for later visualization.

## What steps did you take?

I first looked into the `archiver.FileSystem` feature and combined it with `fs.WalkDir`. However this turned out to be exceptionally s

[2022-03-10 17:55] mholt commented on #326
Thanks for the report. That sounds pretty abysmal.

How many files are in the 5 MB archive?

Go's `io/fs.WalkDir` function calls `ReadDir()` for every entry, and in order to read a single directory to satisfy that interface, we have to walk the whole archive to ensure we got all the files in that dir, then append them to a slice, then finally return the slice. In other words, I believe WalkDir mig

[2022-03-11 07:27] dcermak commented on #326
That archive was the file system of the alpine image from dockerhub, which has about 58k files. But for my usecase I'd like to use it on much larger archives with potentially a lot more files.

Yes, that sounds like it could be the problem.

Here you go: https://gist.github.com/dcermak/c26486c0dfd877fbf178da4d95d5efea

[2022-03-11 17:27] mholt commented on #326
Thanks for that. So yeah, it looks like my hunch is correct.

Calling `Extract()` with a `nil` filter simply walks the archive directly: `O(n)`

Calling `fs.WalkDir()` recursively invokes `ArchiveFS.ReadDir()` for every directory that is discovered. And each call to `ReadDir()` calls `Extract()` with a nil filename filter. In other words, for every directory in the archive, the entire archive is w

[2022-03-14 08:01] dcermak commented on #326
Well, I'd first like to just emphasize that using `Extract()` is more than fine for me, I don't really need the `fs.WalkDir()` API. It merely looked a bit more convenient to use, so I gave it a try and was puzzled by it being so slow.

The fast mode sounds like a good idea, as I personally doubt that many users are relying on the correct ordering when calling `fs.WalkDir()`.

Given the constraints

[2022-03-14 16:54] #326 closed

[2022-03-14 16:55] mholt commented on #326
Sounds good, I'll add a comment to the godoc explaining the performance penalty of ArchiveFS for archives with lots of files. And we'll go from there!

[2022-03-15 06:26] dcermak commented on #326
Thanks a lot @mholt!

[2022-03-17 22:11] mholt commented on #158
If this is still an issue in v4, let me know and we can reopen this. (v4 has an option to preserve links.)

[2022-03-17 22:11] #158 closed

[2022-03-17 22:19] mholt commented on #317
@jhwz Does your PR (#322) fix this issue? Or was that separate.

[2022-03-17 22:32] jhwz commented on #317
Just ran the tests and they're still failing. I'll try investigate some more.

[2022-03-21 03:38] jhwz commented on #317
Hmm it seems I may have got something wrong - I went through and rebuilt some of the tests and have now got them in a state where they are passing... :disappointed: Hopefully it's my mistake!

[2022-03-21 03:38] #317 closed

[2022-03-22 16:20] tomcruise81 opened #328 "Unarchive equivalent in v4"
## What would you like to have changed?

A default `Unarchive` function that operates similarly to https://pkg.go.dev/github.com/mholt/archiver#Unarchive that either:
* Could be passed into `extractor.Extract(...)` as the `FileHandler function
* Or is it's own interface on a given `Format`

## Why is this feature a useful, necessary, and/or important addition to this project?

It would extend the

[2022-03-22 16:26] mholt commented on #328
Thanks; this is a duplicate of #311. Feel free to continue discussion there!

[2022-03-22 16:26] #328 closed

[2022-03-22 17:00] tomcruise81 commented on #328
Sorry about that,

[2022-04-08 16:40] nicola-spb opened #329 "Mistake in README"
Hi,

You have little mistake in readme "**Identifying formats**"
[code]
Identity() returns only format and error

[2022-04-08 16:44] #329 closed

[2022-04-08 16:45] nicola-spb commented on #329
Sorry, I see  in 4.0.3 you change it

[2022-04-13 15:28] nicola-spb opened #330 "archiver.Walk() returns files in root without files in subfolders"
## What version of the package or command are you using?
version v4.0.0-alpha.6

## What are you trying to do?
I have big zip archive (33 gb) with files and folders with files. I wanna walk in archive and get all files.
ZIP archive: https://fias-file.nalog.ru/downloads/2022.04.12/gar_xml.zip

## What steps did you take?
1) walk in archive
[code]

2) extract in archive
[code]
## What did you expect

[2022-04-13 18:42] mholt commented on #330
It appears this particular zip file does not have actual entries for the subfolders. :man_shrugging: I will have to see about adding logic for _inferring_ them, but this might be dicey if no actual entry exists.

[2022-04-13 20:37] nicola-spb commented on #330
Maybe you are right because when I using archiver.Extract I see only file paths without folder.

You can test on this file (38Mb): https://fias-file.nalog.ru/downloads/2022.04.12/gar_delta_xml.zip

[2022-04-14 03:42] mholt commented on #330
I have a potential fix implemented, but I want to verify it with some other archives I have laying around when I have a chance.

I'm not sure I love it though. It basically involves discovering/inferring directories from file paths, then faking a directory entry when a _real_ directory entry isn't found. This requires kind of faking some information about the directory if its `FileInfo` is queried

[2022-04-14 10:28] nicola-spb commented on #330
When I open archive in 7zip (and another archiver) I see folders without Created, Modified dates. I think user should see the same in Walk(). When I extract files from archive I see folders too.

[2022-04-14 16:40] #330 closed, assigned to nobody

[2022-04-14 17:50] nicola-spb commented on #330
@mholt Yes, you are fixed it. Good job!

[2022-04-14 17:52] mholt commented on #330
@nicola-spb Great, good to hear. Note that using `fs.WalkDir()` is inefficient for archives, because of the Go APIs defined by the `fs` package. Using `Extract()` provided directly by this package is more efficient. This archive is probably fine, but you'll notice when the archive has lots of files. (`O(n)` vs. `O(n^2)`)

[2022-04-14 18:12] nicola-spb commented on #330
@mholt ok. I'll keep it on mind.
archiver.WalkDir() is reading better for myself (less code).

P.S. just rewrote the code to using WalkDir() before reading your comment :))))))))))))))))  my archive contains about ~2000 files. Hmmm... I will return Extract :)

[2022-04-14 18:30] nicola-spb opened #331 "Using FilesFromDisk() for compressing files to root of archive"
## What would you like to have changed?
I wanna use archiver.FilesFromDisk for archiving files from folder to root of archive like this:
[code]

## Why is this feature a useful, necessary, and/or important addition to this project?
I think it is useful feature.

## What alternatives are there, or what are you doing in the meantime to work around the lack of this feature?
Without this feature I nee

[2022-04-14 19:08] mholt commented on #331
Thanks for the request. Just to be sure I understand, can you provide a sample directory tree and the expected names in the archives? Basically the expected inputs and outputs.

[2022-04-14 19:18] nicola-spb commented on #331
Example. I have folder:

[code]

And I wanna put all files to root of archive folder.zip with structure:
[code]

I tried like this:
[code]

[2022-04-14 19:30] mholt commented on #331
@nicola-spb Perfect, thanks. I'm headed out in a moment for lunch, but can you tell me real quick what the result is when you do this variant:

[code]

Because I think that should do what you're looking for... :thinking: